[2019-06-20 17:38] ralanlittle opened #93 "Jane views the results of the pipeline activity through the Tekton dashboard. Provide a How-To guide."

[2019-07-25 14:31] csantanapr opened #11 "repo missing LICENSE file"

[2019-07-26 19:28] csantanapr commented on #11
Closes by #12

[2019-07-26 19:28] #11 closed

[2019-07-26 19:31] csantanapr opened #14 "specify namespace when creating the service account kabanero:appsody-sa"
In the docs
https://github.com/kabanero-io/docs/blob/master/ref/general/kabanero-foundation-setup.adoc

The command
[code]

Should have the `-n` to be sure the `sa` is created in the correct namespace and not in the current context namespace which it can be `default` or `myproject`

In addition since the doc is using `oc` it should use `oc` instead of `kubectl`

I proposed the command should be
[c

[2019-07-26 22:00] csantanapr opened #15 "Add more details about the subdomain parameter using nip.io"
Provide more details about using nip.io when working locally

For example for minishift you can tell user to use the ip address from the ocp console ui
[code]
Locally the browser will open for example `https://192.168.64.4:8443/console`
Use this value of the ip address `192.168.64` and append `.nip.io` this will be the value to use for subdomain
[code]

[2019-07-26 22:09] csantanapr opened #16 "example doesn't work out of the box imagePullPolicy set to Always"
In the docs https://github.com/kabanero-io/docs/blob/master/ref/general/kabanero-foundation-setup.adoc#setting-up-the-example-appsody-pipeline
 they refer to use the following example https://github.com/appsody/tekton-example.git

The knative service yaml specify imagePull
https://github.com/chilanti/appsody-test-build/blob/master/appsody-service.yaml#L11-L12
[code]
Having any string for `image` i

[2019-07-30 13:14] stephenkinder opened #22 "The version for the existing docs release (1.0.0) doesn't match Kabanero current release."
We are in the midst of trying to manually produce the 0.0.2 release of Kabanero until we have a formal release process defined.   I don't think we want to define a 1.0.0 release because that implies a level that is GA.   We likely need to actually delete the 1.0.0 release that is defined in this repository, and we should replace it with a 0.0.2 when we are ready to cut the release.

[2019-07-30 13:20] stephenkinder opened #23 "Clean up residual OpenLiberty docs that seem to be copied from that communities repository."
There are lots of files in the docs repository that don't seem to make any sense to me (at least) ... it seems like there are in here through a project copy of OpenLiberty.

[2019-07-31 16:20] alohr51 commented on #22
[docs repository first release is now v0.0.2](https://github.com/kabanero-io/docs/releases/tag/v0.0.2)

[2019-07-31 16:20] #22 closed

[2019-08-01 13:37] davco01a opened #30 "Enhance automation in script to automate appsody kubectl apply(s) and edits"
Enhance the script to do the following after the initial istio and kabanero pod setup:

1. git clone https://github.com/appsody/tekton-example as part of this one script too
2. cd tekton-example
3. oc project kabanero
4. kubectl apply -f appsody-service-account.yaml
5. kubectl apply -f appsody-cluster-role-binding.yaml
6. automate editing and apply of docker secrets, also have script prompt for do

[2019-08-01 17:18] #23 closed

[2019-08-02 14:21] erpenbach opened #32 "Need more specifics on what OKD Install Steps to follow"
On the page:
https://kabanero.io/operations/kabanero-foundation-setup/
There is a link to OKD Install Instructions which takes you to https://docs.okd.io/latest/getting_started/administrators.html.

More specifics on what part of instructions are needed or not needed would be helpful.

[2019-08-08 19:40] bschrammIBM opened #34 "Review and update Codewind documentation for MVP release"
https://www.eclipse.org/codewind/docindex.html

The Codewind documentation requires review and updating.
Need to ensure:
1) Is it accurate for both Kabanero and Cloud Pak for Apps.
2) Tag any content that applies only to Kabanero or only to CP4Apps.
3) Provide content for additional Guides for Codewind - perhaps we could include a Guide for "Using Codewind with Kabanero" and "Using Codewind with I

[2019-08-08 20:29] bschrammIBM opened #35 "Add the Kabanero management CLI docs to kabanero.io website"
Publish the Kabanero-management CLI documentation from https://github.com/kabanero-io/kabanero-command-line/README.md

It should be under a Docs>Reference tab.

[2019-08-08 21:10] bschrammIBM opened #36 "Write a Guide for "Using the Eclipse MicroProfile Collection""
We need a Guide for how to work with the pre-packaged Eclipse MicroProfile collection. Eclipse MicroProfile is included in the MVP release. Here is a very rough outline for how to document the pre-packaged collections:

- "A Kabanero Collection provides guides for developers, templates for simplicity and consistency of developing applications, a runtime in a certified base container image infused

[2019-08-08 21:29] bschrammIBM opened #37 "Document local installation of Codewind for Kabanero"
Document how to install Codewind locally.
There are installation instructions in the Codewind docs here:
https://www.eclipse.org/codewind/installlocally.html
There are installation instructions on kabanero.io website here:
https://kabanero.io/developer/ide/
There are new instructions included in the proposed Getting Started flow.
Review and update these instructions to be complete and accurate.

[2019-08-08 21:36] bschrammIBM opened #38 "Document local installation of Appsody CLI for developers"
This is the Appsody CLI, it sets the default hub url to the Kabanero public hub. The hub can be changed to point to Champ’s hub (or manually use the CLI to change it).
There are current instructions on the Kabanero.io website:
https://kabanero.io/developer/cli/

There are new instructions included in the proposed Getting Started flow.
These instructions need to be reviewed and updated.

[2019-08-08 21:45] bschrammIBM opened #39 "Document single Install for Champ CLI experience"
Management CLI + Appsody CLI (may be on OpenShift)
Need the installation instructions for this use case, for both local installation and on OpenShift.

[2019-08-08 21:48] bschrammIBM opened #40 "Document single installation for Kabanero Foundation on Kubernetes"
Need the installation instructions for this use case. This covers installation for all components running on Kube on local data center or any public cloud.

- Todd installs this by first installing OKD/OCP 
- Then runs the Kab operator

[2019-08-08 22:21] bschrammIBM opened #41 "Write an overview guide of Kabanero with diagrams and development process"
We need a Kabanero overview describing the architecture, components, and workflows. It should include a description of the development process from both Champ's and Jane's POV.

[2019-08-09 19:04] bschrammIBM commented on #36
From @nateziemann Collection Guides should look and flow like one of the Open Liberty Guides.
For example, https://openliberty.io/guides/getting-started.html

[2019-08-09 19:56] bschrammIBM commented on #34
@bsbyrd assigned

[2019-08-09 19:59] bschrammIBM commented on #36
@lloyd roseblade

[2019-08-09 23:42] bschrammIBM commented on #41
A draft can be created from Powerpoints and other blog entries. Not assigned yet.

[2019-08-12 09:33] gcharters opened #42 "Typo on Try It Architect page"
This page: https://kabanero.io/architect/

Has `empowering developer s with`

But should say `empowering developers with`

[2019-08-12 15:41] #42 closed

[2019-08-12 22:17] bschrammIBM opened #43 "Write an Appsody CLI guide for developer experience using CLI"

[2019-08-12 23:17] bschrammIBM commented on #35
This management CLI will be ready to document by end of next week.

[2019-08-13 18:36] jagraj opened #45 "Tekton sample fails to deploy"
I tried to install Tekton sample through scripts and it failed to deploy. Here is the message that I get.

[code]

![Screen Shot 2019-08-13 at 2 35 24 PM](https://user-images.githubusercontent.com/713849/62967752-a1b32000-bdd7-11e9-98c2-ffffdc643ff9.png)

[2019-08-13 18:40] mtamboli commented on #45
I am seeing the same issue at http://tekton-dashboard.natives1.fyre.ibm.com/#/namespaces/kabanero/pipelines/appsody-build-pipeline/runs/appsody-manual-pipeline-run

[2019-08-15 18:23] bschrammIBM opened #47 "Write a Guide for "SpringBoot" Collections"
Refers to: https://github.ibm.com/IBMCloudPak4Apps/icpa-docs/issues/15
For MVP, we need a Guide describing the "SpringBoot" Collection.
SpringBoot contains the following:

Spring on OpenLiberty
Spring on Tomcat
Need to determine if we need one Guide or two separate guides.
Information sources are: @alanl

[2019-08-15 19:46] alohr51 opened #49 "Add content to the What's New Doc - Ongoing work"
We have a what's new doc that is tied to the website. It will notify website users only once whenever this file is updated with a new `version` in the front matter

Need this to be updated https://github.com/kabanero-io/docs/blob/master/ref/general/whats-new.md

[2019-08-15 19:59] bschrammIBM opened #48 "Write a Guide for "Using the NodeJS Express Collection""
There are 3 opensource NodeJS Collections for MVP:

NodeJS
NodeJS Express
NodeJS LoopBack
These require a Guide, either one guide for all 3 or one guide per collection.

Updated 18th November:

- This issue is for the Nodejs Express collection guide.
- guide must be identical to the MicroProfile and Spring Boot guides already published, replacing the elements unique to this collection.

[2019-08-15 21:39] alohr51 commented on #49
@marikaj123 We'll need to find the right person to write this doc for each release.

[2019-08-15 22:37] marikaj123 commented on #49
@bschrammIBM - Would the ID be under Brandy's team?

[2019-08-15 23:19] bschrammIBM commented on #36
There may be some information for the Eclipse Microprofile Guide here:
https://github.com/gcharters/kabanero-dev-getting-started

This is an internal github repo, so contact Graham Charters to confirm its accuracy.

[2019-08-16 17:12] alohr51 commented on #45
@dacleyra FYI I assume this is about the scripts in https://github.com/kabanero-io/docs/tree/master/ref/scripts

[2019-08-16 20:44] dacleyra commented on #45
The sample was run too quickly after install, the collection containing the pipeline is not resolved by the kabanero operator yet. Sample needs a wait check loop.

[2019-08-16 23:50] bschrammIBM opened #50 "Incorporate Logging and Monitoring for OpenShift information in a Guide"
There are two source documents that need to be incorporated into a Guide.
https://github.com/fwji/openshift-logging - This applies to collections running on OpenLiberty.
https://github.com/fwji/openshift-monitoring applies to all collections running on OpenShift/OKD

The logging info could be part of the OpenLiberty Guide.
The monitoring applies to all collections.

Need to determine whether this

[2019-08-17 00:04] bschrammIBM opened #51 "Document how to configure the Tekton Dashboard Webhooks"
This could go in a "Working with Pipelines Guide" or as part of the Collections guide.
https://github.com/mnuttall/experimental/blob/docs.for.54/webhooks-extension/docs/GettingStarted.md

[2019-08-19 14:46] fwji commented on #50
@ralanlittle Hi Alan, please add me to this repository as a collaborator so I can assign myself to the issue.

[2019-08-20 12:37] SueChaplain commented on #48
I'm unable to self-assign this item. @bschrammIBM do you know if I need to be added to a team or org?

[2019-08-20 14:43] bschrammIBM commented on #36
From release planning meeting:

[code]

[2019-08-20 14:45] bschrammIBM commented on #36
@ianpartridge can provide the information for this Guide. We'd like to have it completed by 8/28.

[2019-08-21 10:39] SueChaplain opened #52 "More guidance needed in the README for contributors"
The README suggests creating directories under /ref/ that correspond to the category of document you are writing ....... if there isn't one that's suitable, create one.

@bschrammIBM - do you have a view on what categories should be created, based on your doc plan?

E.g.

- installation
- guides
- ref

It might be better to start with a structure that writers can contribute to, rather than people

[2019-08-21 15:02] alohr51 commented on #52
@SueChaplain There will be a `doc-category` front matter variable that we will use for the categories so the docs go under the right header.

We have an issue https://github.com/kabanero-io/kabanero-website/issues/73 that is related to this categorization that is almost done which will include a README update. @bschrammIBM will get us the categories when she has them. Barbara said the doc work wil

[2019-08-21 19:30] bschrammIBM commented on #41
https://github.com/nastacio will work on this.

[2019-08-22 15:13] bschrammIBM commented on #36
There may be some information for the Eclipse Microprofile Guide here:
https://github.com/gcharters/kabanero-dev-getting-started
This is a personal github repo, so contact Graham Charters to confirm its accuracy. Graham has replied "The link you included is where I'll be developing the Kabanero workshop that will use MicroProfile on Open Liberty. I haven't started on the collections piece because

[2019-08-22 21:36] bschrammIBM commented on #30
This should be assigned to engineer, although the script is located in the /docs directory. https://github.com/kabanero-io/docs/tree/master/ref/general

[2019-08-23 02:15] bschrammIBM commented on #52
This cannot be decided until the "installation-specific" design is finalized.

[2019-08-23 18:51] bschrammIBM opened #55 "Write a guide to describe "Working with Collections""
Post MVP - we need a guide for "Working with Collections"

[2019-08-24 00:59] bschrammIBM commented on #52
Hi - based on the discussion today, we won't have any doc categories or subdirectories. We will have Guides and Reference. Each guide will be in a unique repo. The current reference content will be the Management CLI. So the contributing.md should discuss how to create and submit a Guide. Doubtful that users will submit reference text.

[2019-08-25 19:31] bschrammIBM opened #56 "Write a Guide for "Working with Pipelines""
corresponds to

[2019-08-27 00:18] bschrammIBM opened #57 "Write a guide for "Using kAppNav" the application navigator"
The kAppNav tool is part of the kabanero release.
It is the open source version of Application Navigator https://www.ibm.com/support/knowledgecenter/en/SS7K4U_9.0.5/com.ibm.websphere.zseries.doc/ae/ccld_appnav.html
The engineering contact is: Chris Vignola
See https://github.com/kappnav/README

[2019-08-27 15:57] bschrammIBM opened #58 "Provide an outline for the guides for the Collections"
A generic outline for what sort of topics need to be covered in the Guides for the Collections is needed to start the writing effort.

We now have Guides that are published on the stage site for kabanero.io. @ralanlittle please review and provide feedback to improve the content.

[2019-08-28 11:47] stephenkinder opened #59 "Add collection curation experience to the documentation and kabanero-io website"
The initial collection curation support for "Champ -- Enterprise Architect" has dropped in the 0.1.0 release of the collections.  The team supporting collections are documenting that experience with this issue: https://github.com/kabanero-io/kabanero-collection/issues/51.  This needs to make its way to formal documentation and the kabanero-io champ collection try it experience.

[2019-08-28 16:15] davco01a opened #60 "Define security setup configuration for Management CLI"
After installing Kabanero, the steps documented below are needed before Champ can use the CLI.  This needs to be incorporated either in the install scripts, as a post-install script, or included in website doc

https://github.com/kabanero-io/kabanero-security/wiki/Setting-up-the-CLI-backend-app

[2019-08-28 16:43] mtamboli opened #61 "Kabanero install script is failing"
Install script "install-kabanero-foundation.sh" need to be updated
1. Please update Kabanero install script  to reflect latest Kabanero release.
KABANERO_BRANCH="${KABANERO_BRANCH:-0.1.0}

2. Install script was failing with these errors:
[code]
To workaround above issue, had to remove -n Kabanero from the following command:
  `oc apply -n kabanero-f https://github.com/kabanero-io/kabanero-operator

[2019-08-28 18:43] #61 closed, assigned to nobody

[2019-08-28 21:35] bschrammIBM commented on #50
@jantley-ibm Frank would like someone to polish his text.

[2019-08-29 01:46] tseelbach opened #62 "document uninstall of Kabanero"
Some work in progress notes:  https://github.com/kabanero-io/docs/wiki/uninstall-Kabanero

[2019-08-29 12:49] jantley-ibm commented on #50
@chirp1 See above, ready for review

[2019-08-29 18:44] jantley-ibm commented on #38
Dev: David Harris ID: Helen Masters

[2019-08-29 19:01] jantley-ibm commented on #47
Lower priority because this could change.

[2019-08-29 19:02] alohr51 opened #65 "scripts have moved update setup doc"
The scripts moved to https://github.com/kabanero-io/kabanero-foundation/tree/master/scripts which makes more sense for them.

Update the foundation setup doc to point to the new scripts location and then update the website and remove the docs here in the docs repo as they will no longer be moved.

[2019-08-29 19:04] #65 closed

[2019-08-29 19:07] jantley-ibm commented on #35
Needs ID for editing purposes

[2019-08-29 19:08] #39 closed

[2019-08-29 19:08] jantley-ibm commented on #39
Duplicate

[2019-08-29 19:11] jantley-ibm commented on #37
Brandy Byrd (ID)

[2019-08-29 19:13] jantley-ibm commented on #34
Jake Berger (ID)

[2019-08-29 19:17] jantley-ibm commented on #15
Needs to be mentioned in install docs

[2019-08-29 19:26] jantley-ibm commented on #51
Needs ID assignment

[2019-08-29 19:46] jantley-ibm commented on #41
Due Sept. 13

[2019-08-29 20:05] davco01a opened #66 "Todd: doc to specify Kab CLI service metadata in kabanero operator yaml"
See: https://github.com/kabanero-io/kabanero-operator/wiki/Todd's-input-for-the-Kabanero-operator

[2019-08-29 21:47] bschrammIBM commented on #47
also assigned to @dweller

[2019-08-30 12:11] groeges commented on #59
What is actually needed for this?

[2019-08-30 12:41] tseelbach commented on #62
Justin Fleming, can we use your script as an example for uninstall?  It works except for problems with finalizers, which is outside the control of the script.  Probably bugs in some of the operators

[2019-08-30 17:18] mtamboli commented on #59
Would like to see document on how Champ can create/update/delete collections for testing.

[2019-08-30 17:25] mtamboli commented on #60
From the document above it seems like a difficult task to setup CLI. As a user, I would like to know in documentation if there are additional capabilities enabled by using Kabanero CLI instead of console.

[2019-08-30 17:31] mtamboli commented on #51
Lot of people are asking for this doc. I can provide some help on this document as I am having some success creating a working web hook. I think we need to update the below link as well https://kabanero.io/docs/#tektonUI-webhook.html

[2019-08-30 17:34] bschrammIBM commented on #51
@mtamboli Please provide updates to both https://github.com/mnuttall/experimental/blob/docs.for.54/webhooks-extension/docs/GettingStarted.md and https://kabanero.io/docs/#tektonUI-webhook.html. This is a priority.

[2019-08-30 17:45] kvijai82 commented on #51
@bschrammIBM I updated the kabanero-pipelines repo readme to walk through the different ways to run a pipeline.  Alan wanted to get that in the docs as well.  The tekton-dashboard webhook setup I don't think we should duplicate the info but rather update what they have in https://github.com/mnuttall/experimental/blob/docs.for.54/webhooks-extension/docs/GettingStarted.md as that can very easily go

[2019-08-30 17:46] kvijai82 commented on #51
https://github.com/kabanero-io/kabanero-pipelines/blob/Readme-updates/README.md is the pipelines doc for now.  If something is not clear please let me know and we can make it better.  @mtamboli please review and provide feedback as well.

[2019-08-30 17:55] dmuelle commented on #35
README at https://github.com/kabanero-io/kabanero-command-line/blob/master/README.md

[2019-08-30 18:12] dmuelle commented on #35
@bschrammIBM @jantley-ibm the README link above is not working- is the correct doc at

https://github.com/kabanero-io/kabanero-command-line/blob/master/README.md
or
https://github.com/kabanero-io/kabanero-command-line/blob/master/kab-cli/kabanero/README.md

or both?

[2019-08-30 20:01] tseelbach commented on #62
see https://github.com/kabanero-io/kabanero-foundation/issues/40

[2019-09-03 13:03] davco01a commented on #30
John Duimovich:fishing_pole_and_fish:  4 days ago
@dacohen There are a bunch of scripts in https://github.ibm.com/John-Duimovich/kabanero-demo.git which do the automated creation of an appsody app, create IBM git repos, add secrets that may help you  here.  See appsody-ibm-script  as the start it calls a whack of utils utils for each step.  I also have a simpler 'tekton only" demo which is derived

[2019-09-03 15:14] dacleyra commented on #45
Sample is updated for 0.1.0 release, and now resides in this repository.
https://github.com/kabanero-io/kabanero-foundation/tree/master/scripts

Please give it a try

[2019-09-03 15:37] stephenkinder commented on #59
@groeges We need a simple example of how one can clone and modify the default collections for usage with the kabanero operator.   Collection curation is a key feature we are trying to demonstrate.   I could think of a couple of scenarios:

1) removing an unwanted collection
2) adding an experimental collection
3) changing the fixpack level or OS image understand one of the stacks.

[2019-09-03 15:40] stephenkinder commented on #40
At least for these early releases of Kabanero, we have limited our deployment environment to OKD/OCP.  For the Kabanero open project, we specifically describe the installation of Kabanero here: https://github.com/kabanero-io/kabanero-foundation/tree/master/scripts/README.md

[2019-09-03 15:52] mtamboli commented on #59
We have above scenarios mentioned by @stephenkinder planned for testing but do not have information on how to do it. If you have draft instructions, I would be happy to give it a try.

[2019-09-03 21:13] tseelbach commented on #35
https://github.com/kabanero-io/kabanero-command-line/blob/master/README.md is the correct README

[2019-09-04 17:35] t-koman commented on #50
@chirp1 @fwji Karen or Frank - how best to edit these two topics and present the results in Git. ?

[2019-09-04 20:15] alohr51 commented on #50
@t-koman you can go to each README
  * https://github.com/kabanero-io/guide-logging
  * https://github.com/kabanero-io/guide-monitoring

and click the pencil icon in the upper right, make your changes and then at the bottom check the bubble "Create a new branch for this commit and start a pull request.", give your branch a name, and hit commit.

This should open a PR you can get someone to look at

[2019-09-05 18:51] bschrammIBM opened #68 "Ensure installation script is accurately documented"
The installation script for Kabanero Foundation provided here: https://github.com/kabanero-io/kabanero-foundation/tree/master/scripts needs better documentation.

The following issues have been described:

1) A key aspect missing in the kabanero foundation instructions is that the registry must be secured via SSL and knative-serving has to be aware (or made aware) of the signing cert for the regis

[2019-09-06 18:30] bschrammIBM commented on #51
@kvijai82 Please clarify what needs to be documented for the Tekton webhooks for customers.
Does a customer need to perform the steps in https://github.com/kabanero-io/kabanero-pipelines/blob/Readme-updates/README.md ? Or do they simply use the Webhooks option on the Tekton dashboard?

[2019-09-06 18:46] bschrammIBM commented on #51
@mtamboli @kvijai82 There are several readmes regarding configuring the Tekton webhooks. Please clarify what a customer needs to do for the release on 9/13

[2019-09-06 18:56] mtamboli commented on #51
@bschrammIBM Barbara, I think user is expected to use Tekton dashboard to create webhook although there is nothing preventing them to follow other ways. We have documented scenario in our test issues. @ralanlittle will review and pass it over to docs.

[2019-09-06 19:07] nastacio commented on #68
@jantley-ibm , we need someone in ID to clarify #1 in the docs and someone in the development team to spell out the instructions on #3.

[2019-09-06 19:21] bschrammIBM commented on #66
@davco01a Is there an update to the docs required for this? The referring issues says : `This needs to be reevaluated after discussion with the originating requestor` and is in Closed status. Can this issue also be closed?

[2019-09-06 19:37] mingcyu commented on #51
Here is a recording that has a demo of how someone creating a SpringBoot application creates the web hook https://ibm.box.com/s/avi2988zqoyz26bsv4mw12x9tgvctfqe

[2019-09-06 20:47] j-c-berger commented on #34
Am currently working on a guide for Codewind. I'll ensure the guide meets these needs.

[2019-09-06 20:48] j-c-berger commented on #37
I will go over these instructions while including installation instructions in the Codewind guide.

[2019-09-08 11:13] tseelbach commented on #60
I updated the rough draft wiki today.  Specifically i added
-  a line about the relationship of the Kabanero instance to a Github Org.
- Notes to say that the way we config has changed and been simplified.  We need to confirm and update the wiki with the new -reduced- steps.   Will work with @davco01a and @kaczyns to clarify

[2019-09-08 13:11] tseelbach commented on #60
this feature is not commited for 0.1.2.   removing tag

[2019-09-09 14:13] dmuelle commented on #35
@alohr51 @tseelbach-

question about one of the Kabanero commands at  https://github.com/kabanero-io/kabanero-command-line/blob/master/README.md

`kabanero deactivate` - is there a `reactivate` command? How do you restore a deactivated collection?

#69 = PR for draft of README into asciidoc, patterned after the [Open Liberty Server Commands doc](https://www.openliberty.io/docs/ref/command/).

[2019-09-09 14:50] Charlotte-Holt commented on #36
@bschrammIBM @dianak2016 Can you confirm the date that this guide needs to be ready to publish?

[2019-09-09 15:19] bschrammIBM commented on #59
@mtamboli There are instructions available to test here https://github.com/kabanero-io/collections/blob/master/README.md  Please update the instructions based on your tests.

[2019-09-09 15:39] bschrammIBM commented on #36
It was originally scheduled for 9/13, dependent upon receiving the info from engineering.

[2019-09-09 17:11] bschrammIBM commented on #68
This requires engineering to update the information on https://kabanero.io/docs/#scripted-kabanero-foundation-setup.html

[2019-09-09 17:14] bschrammIBM commented on #47
There is an end-to-end demo presented at the Playback for Springboot on Tomcat. The recording is here: https://ibm.ent.box.com/folder/86387022180

[2019-09-09 18:00] dmuelle commented on #51
Hi @bschrammIBM @mtamboli

I'll be handling ID team responsibilities for this doc. From what I can gather by reading the comments, I'm currently waiting on the doc mentioned in the previous comment to proceed.

If that's not the case, or if there's anything I ca do in the meantime, just let me know. I can certainly update/ flesh out  https://kabanero.io/docs/#tektonUI-webhook.html with info from h

[2019-09-09 19:16] jantley-ibm commented on #40
@stephenkinder @dacleyra Does that readme satisfy this requirement, or is more needed?

[2019-09-09 20:29] j-c-berger commented on #37
Here are the links to the Markdown files for the IDEs, Eclipse Che, Eclipse, VS Code:

1. Eclipse Che: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/installoncloud.md

2. Eclipse: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/mdt-eclipse-installinfo.md

3. VS Code: https://github.com/eclipse/codewind-docs/blob/master/docs/_documentations/mdt-

[2019-09-09 21:06] dacleyra commented on #40
README needs to be updated with instructions on driving the webhook with tekton dashboard ui. The webhook script is now invalid with tekton behind OKD/OCP oauth.

[2019-09-10 09:59] helenmasters commented on #38
@bschrammIBM is this task a request for a docs new page or a request to update the existing https://kabanero.io/developer/cli/ page?

Please can you also point me to the "new instructions" which you refer to in the "proposed Getting Started flow"?

[2019-09-10 12:56] tseelbach opened #70 "Need to version docs for a release."
When we cut a release we need a way to `version` the docs for that release.  What is our strategy and plan to do that?

[2019-09-10 14:09] davco01a commented on #66
@bschrammIBM Yes, we will need doc, I am in the process of writing up doc at this wiki right now:

https://github.com/kabanero-io/kabanero-operator/wiki/Todd's-input-for-the-Kabanero-operator

[2019-09-10 15:27] SueChaplain commented on #55
This was written up by @groeges (Thanks!), which I think might be very useful for this issue when someone starts it. (Best viewed as a markdown file ... just rename it to .md extension)

[collection-structure.txt](https://github.com/kabanero-io/docs/files/3596470/collection-structure.txt)

[2019-09-10 16:26] alohr51 commented on #45
@jagraj were you able to get past this issue with the updated sample?

[2019-09-10 16:55] bschrammIBM commented on #66
Should this be in a readme? Is it part of installation and configuration?

[2019-09-10 17:02] SueChaplain commented on #38
@helenmasters - if this work is to update the new getting started page (see https://github.com/kabanero-io/kabanero-website/issues/158), I don't think this is a huge amount of work. Let's discuss. I'm happy to own it if you are not going to be able to cover it or assign to someone else locally)

[2019-09-10 18:13] bschrammIBM commented on #68
This issue is related to https://github.com/kabanero-io/docs/issues/32

[2019-09-10 18:32] bschrammIBM commented on #50
@t-koman @chirp1 Can one of you review and polish the text here: https://github.com/fwji/openshift-monitoring

[2019-09-10 18:53] alohr51 commented on #50
@bschrammIBM @t-koman @chirp1 the actual guide link that needs the polish is https://github.com/kabanero-io/guide-app-monitoring

[2019-09-10 18:56] stephenkinder commented on #16
@csantanapr is this still a problem?  This looks like it is corrected.

[2019-09-10 18:59] davco01a commented on #66
@bschrammIBM recommends we add a step to:

https://kabanero.io/docs/#scripted-kabanero-foundation-setup.html

to configure the Kabanero document

[2019-09-10 20:03] davco01a commented on #66
* Specify repository URL in the Kabanero document (object) to point to cloned, customized index.yaml for the master collection
* In `kabanero crd` specify:
  - git `group or organization` in the `organization` field
  - git `team name(s)` in the `teams` field
  - the `api github url` in the `apiurl` field.
  - the kabanero `namespace(s)` in the `namespaces` field

 @tim.kaczynski is this only one

[2019-09-11 13:14] kaczyns commented on #66
@davco01a You modify the CR instance of the Kabanero CRD.  So if the user created one Kabanero instance then that's the one that they'd modified.  Today, we only support one instance, in the Kabanero namespace, so that's the one they'd modify.  And most of the fields you're referring to there are not merged yet (see PR https://github.com/kabanero-io/kabanero-operator/pull/170)

[2019-09-11 14:12] davco01a commented on #66
Ok, I want to to net out which fields Todd needs to focus on for modification and document those.

[2019-09-11 14:46] davco01a commented on #59
please see:  https://github.com/kabanero-io/docs/issues/66 for setting collection URL into the operator CRD

[2019-09-11 14:49] davco01a commented on #59
cloned collection URL needs to be specified by Todd in the repository URL of the kab operator CRD

[2019-09-11 15:09] bschrammIBM commented on #38
Yes It is to edit and polish the instructions for installing the Appsody CLI. One of the issues is the installation instructions are Mac-specific. Should we include instructiosn for PC too?
So to edit and embellish the instructions on tthis page https://kabanero-kdsee.us-south.cf.test.appdomain.cloud/developer-tools/

[code]

[2019-09-11 15:52] Charlotte-Holt commented on #36
Okay, thanks @bschrammIBM. At this point, we're still waiting on the info from engineering.

[2019-09-11 16:20] SueChaplain commented on #38
We've got 4 different platforms for Appsody :-/ macOS is probably the slickest if we are trying to make it look simple, so we could just link to the Appsody install topic for other platforms as a footnote?

I noticed that the VS Code install gets as far as initializing a collection (although the screen shot is missing the Appsody stacks), so we probably need to do more work to fix and balance the

[2019-09-11 16:53] SueChaplain commented on #38
@kSee04 - did your PR https://github.com/kabanero-io/kabanero-website/pull/161/files change this content already? It looks like it but the URL I have (https://kabanero-kdsee.us-south.cf.test.appdomain.cloud/developer-tools/) doesn't refresh ... maybe that's a stale site? Where can I preview the latest changes for the Getting Started please?

[2019-09-11 16:59] alohr51 commented on #38
@SueChaplain we have a couple of test instances you can see the above changes on https://kabanero.us-south.cf.test.appdomain.cloud/developer-tools/

[2019-09-12 15:32] SueChaplain opened #74 "Capture / agree tag names for the guides"
@Charlotte-Holt and I were discussing which "tags" to use in the collections guides to keep things consistent. We thought it would be a good idea to create an issue so that this can be tracked. Having too many tags might be problematic (assuming they are used as a filter), so capturing them allows others to re-use the tags, where appropriate, rather than creating new ones.

Edit this description t

[2019-09-12 20:57] bschrammIBM opened #79 "Edit needed on https://kabanero.io/docs/#scripted-kabanero-foundation-setup.html"
@mtamboli wants the following edit on this page:
For `openshift_master_default_subdomain=my.openshift.master.default.subdomain ./install-kabanero-foundation.sh`

surround `my.openshift.master.default.subdomain` in brackets to indicate it is a variable,
as follows:
`openshift_master_default_subdomain=<my.openshift.master.default.subdomain> ./install-kabanero-foundation.sh`

This will indicate that

[2019-09-13 01:50] jantley-ibm opened #83 "Document limitation with Tekton pipelines"
When using a Tekton webhook to trigger pipelines installed with Kabanero, the last task is the `monitor-result-task`, which may fail in some cases.
This might also cause the webhook pod to be in the "Error" state. The following failures of `monitor-result-task` in the TaskRun view can be
disregarded at this time; they do not impact the application deployment:
- `error creating GitHub client: error

[2019-09-13 11:44] SueChaplain commented on #47
Input received from @Dweller, edited, converted to AsciiDoc and put here: https://github.com/kabanero-io/draft-guide-collection-springboot2

- Needs a review (esp. terminology around Kabanero Collections hub / repo / index)
- repo needs renaming to remove the leading **draft-**
- needs building and previewing (@alohr51 - can you help here please?)

[2019-09-13 13:56] dmuelle commented on #51
updated doc is at https://github.com/kabanero-io/docs/blob/master/ref/general/tekton-webhooks.adoc

@bschrammIBM the filename is slightly different but @alohr51 says it will not matter and the site will build the page regardless.

[2019-09-13 14:49] #83 closed

[2019-09-13 14:50] #79 closed

[2019-09-13 15:08] jantley-ibm commented on #66
@davco01a @kaczyns @bschrammIBM Looks like the best place for this is https://github.com/kabanero-io/docs/blob/master/ref/general/collection-building.adoc -- could you recommend where the new content would go in the workflow on that page?

[2019-09-13 15:59] dmuelle commented on #35
Updated doc is at https://github.com/kabanero-io/docs/blob/master/ref/general/kabenero-cli.adoc

[2019-09-13 20:34] dmuelle commented on #40
Creating/ driving & monitoring webhooks via Tekton documented in https://github.com/kabanero-io/docs/blob/master/ref/general/tekton-webhooks.adoc

[2019-09-14 02:27] nastacio commented on #41
Second draft ready at:
https://github.com/kabanero-io/draft-guide-overview

[2019-09-14 20:04] #30 closed

[2019-09-14 20:04] stephenkinder commented on #30
Issue moved to [kabanero-io/kabanero-foundation #61](https://github.com/kabanero-io/kabanero-foundation/issues/61) via [**ZenHub**](https://www.zenhub.com/)

[2019-09-16 19:48] alohr51 commented on #74
A good place to put approved tags would be in the README under https://github.com/kabanero-io/kabanero-website#contributing-to-the-guides

[2019-09-16 23:33] bschrammIBM commented on #58
@ralanlittle Please review the Guides on the stage site for kabanero.io and provide feedback. Is this the best content for the Guides? Anything missing?

https://kabanero.us-south.cf.test.appdomain.cloud/guides/guide-collection-microprofile/README.html

https://kabanero.us-south.cf.test.appdomain.cloud/guides/guide-collection-springboot2/README.html

[2019-09-17 00:37] #41 closed

[2019-09-17 16:15] alohr51 commented on #68
@stephenkinder who own the installation script? they would be helpful in updating the documentation.

[2019-09-17 16:36] stephenkinder commented on #68
@alohr51 The "operator team" owns it, perhaps we should add @dacleyra as an owner?  "Who owns the issue" and who owns making it on the website, and who owns making it to KC is a bit of mystery to me. :)

[2019-09-17 17:13] alohr51 commented on #68
so someone would only need to update https://github.com/kabanero-io/docs/blob/master/ref/general/installing-kabanero-foundation.adoc and it will automatically make it into the website on next website release/push I assume whomever created that file or someone similar could update it.

[2019-09-17 17:16] alohr51 commented on #68
also looks like @bschrammIBM's original meaning was to update the README in https://github.com/kabanero-io/kabanero-foundation/tree/master/scripts, but the actual install doc could be updated too

[2019-09-17 17:32] jantley-ibm commented on #68
@stephenkinder @alohr The KC work has been done primarily by @helyarp so far.  Both the readme and the install doc were in place on the kabanero site before ID got involved, but we can assist if needed

[2019-09-17 20:53] davco01a commented on #66
I thought @kaczyns gave recommendations on reordering the content of this page and placing the Kab document updates accordingly, but I don't see those changes reflected yet

[2019-09-18 01:00] kaczyns commented on #66
We had been working thru this page:
https://github.com/kabanero-io/docs/blob/master/ref/general/collection-building.adoc

One way we could slice this... is to insert steps between step 1 and 2.  Basically:
1a) Create the initial tagged release of the cloned collections (v1)
1b) Create any org-level teams that should administer the cloned collection and add members to those teams.
1c) Alter the Kab

[2019-09-18 12:53] jantley-ibm commented on #66
There is a pull request with the discussed changes waiting for review:
https://github.com/kabanero-io/docs/pull/91

[2019-09-18 13:33] davco01a commented on #66
Wel @jantley-ibm added some comments to your PR

[2019-09-20 17:55] jantley-ibm opened #98 "Set up example template and instructions for creating a guide and moving it through review/publishing"
We need a place with process information for the wider team on guide creation, with template(s) and process, possibly similar to what they have in OpenLiberty: https://github.com/OpenLiberty/draft-guides-template

[2019-09-23 14:39] mtamboli opened #99 "Need to explain concept of collections appropriately in docs"
Jane/Developer starts with appsody which has concept of stacks. [CLI example ](https://kabanero.io/developer/cli/) talks about Kabanero collections. At this point, Jane only knows about stacks. We need some explanation on how collections are extension of stacks and so appsody can work with collection repository too.
This explanation also needed for [champ doc](https://kabanero.io/architect/collect

[2019-09-23 15:10] stephenkinder opened #100 "Document how to understand what collections are active for the Kabanero Instance."
When trying to diagnose a user issue, it was not apparent to the user how to validate what Kabanero repository and collections were used, and active for this Kabanero instance.

There are two ways:  Via the Kanbanero landing page extension in the OKD console, and displaying the configured kabanero CR using the `oc` cli:

`oc get kabanero -n kabanero -o yaml`

The above example assumes the configur

[2019-09-23 17:51] j-c-berger commented on #34
Finished in repo, not yet published to Kabanero.io.

[2019-09-23 17:52] j-c-berger commented on #37
Finished in repo, not yet published to Kabanero.io

[2019-09-23 18:07] alohr51 commented on #37
@j-c-berger what needs to be published to kabanero.io? You should link a PR to this issue

[2019-09-23 20:29] davco01a commented on #60
Closing, this has now been documented and simplified by specifying in Kabanero CRD yaml

[2019-09-23 20:29] #60 closed

[2019-09-23 20:54] mtamboli commented on #60
@davco01a Which document explains this?

[2019-09-23 22:07] davco01a commented on #60
https://github.com/kabanero-io/docs/issues/66

[2019-09-24 11:01] tseelbach opened #101 "Document support for multiple namespaces"

[2019-09-24 12:39] SueChaplain commented on #38
@alohr51 we are trying to go through the open issues and close any out that are complete. We believe this one is done but perhaps held back with the Getting Started section. Is there a preview of this work to double check please? The one provided in an earlier comment is no longer live.

Any idea when Getting Started will make it to production? Thanks!

[2019-09-24 12:40] SueChaplain commented on #36
This one is now live: https://kabanero.io/guides/collection-microprofile/

Closing this issue

[2019-09-24 12:40] #36 closed

[2019-09-24 12:41] SueChaplain commented on #47
This one is now live: https://kabanero.io/guides/collection-springboot2/

Closing this issue

[2019-09-24 12:49] SueChaplain commented on #99
I thought that this page (https://kabanero.io/developer/cli/) was being replaced by a new Getting Started section. If it is also required for the new page, there is possible reuse from here:   https://kabanero.io/guides/overview/

or

**Kabanero Collections**

A Kabanero Collection defines a logical set of software components for developing applications that can be built and deployed to container

[2019-09-24 12:52] SueChaplain commented on #58
Assume that the Guides we produced for GA were acceptable since they are now live:

- https://kabanero.io/guides/collection-microprofile/
- https://kabanero.io/guides/collection-springboot2/

@ming - recommend we close this issue. Do you agree?

[2019-09-24 12:56] #52 closed

[2019-09-24 13:01] SueChaplain opened #102 "Write a collections guide that uses the Eclipse IDE"
Rather than have a guide for each collection, we decided to write guides that covered the developer experience of using different collections with either:

- Appsody CLI
- VS Code
- Eclipse

The microprofile and Spring guides explain how to use these collections with the Appsody CLI.
#48 will cover using Nodejs-express with VS Code

This issue needs to cover using a collection with the Eclipse IDE

[2019-09-24 14:34] alohr51 commented on #74
@kidus60 is working on #98, Kidus can you add the tags to the template too under a bullet section called: "Approved tags for guides" ? once you do that feel free to close this issue too

[2019-09-24 14:44] SueChaplain commented on #43
First part, **discover**, is now converted to Asciidoc and added to repo: https://github.com/kabanero-io/draft-guide-use-appsody-cli/

Permalink set to /guides/use-appsody-cli/ and `information-dev` team given maintain access (@alohr51 - hope I did this correctly)

[2019-09-24 14:47] #98 closed

[2019-09-24 15:13] #74 closed

[2019-09-24 15:21] j-c-berger commented on #37
@alohr51, I made this comment per Barbara Schramm's suggestion. We didn't want to close the issue since it has yet to be published. But for now, the work for this issue is completed (it's not currently being worked on).

My ID team will discuss what to do with this issue and how to close moving forward.

Thank you for your attention.

[2019-09-24 15:53] bschrammIBM opened #103 "Installation script instructions need embellishing"
See https://github.com/kabanero-io/kabanero-foundation/issues/82 for updates needed to the https://kabanero.io/docs/ref/general/installing-kabanero-foundation.html page.

[2019-09-24 18:11] bschrammIBM opened #105 "cross-check the Guides with Learning-Kabanero-101 site"
https://github.com/ibm-cloud-architecture/Learning-Kabanero-101

There is a site developed by Garage team that duplicates some of the info in the Guides.
We need to cross-check the two sources to be sure they are consistent.
Perhaps we can link to Learning-Kabanero-101 in the Guides.

See https://github.com/ibm-cloud-architecture/Learning-Kabanero-101/issues

[2019-09-24 18:22] bschrammIBM commented on #105
from @ebullient ```
The Garage is required to produce this content: it’s part of their mission, and how they structure these as courses for their engagement so the content is similar, but the audience is a little different (and they will emphasize garage approach). I would definitely treat the Garage guides as source material for things we don’t have already have.
Just bear the bigger context (for

[2019-09-25 10:40] tseelbach commented on #35
@jtmulvey @davco01a  please read the .adoc and README.   Do you think we need a deeper explanation of Login?  I think we do, but i don't know if it should be part of this work item.  Some obvious questions:
1. Why do i use my github id/pw or PAT?  Am i logging in to github or OpenShift?  A: neither.  You are using your github creds to prove that you are authorized to manage the master and active c

[2019-09-25 14:25] marikaj123 commented on #59
@groeges - Can you please help with closing this issue.

[2019-09-25 15:13] alohr51 commented on #68
@dacleyra assigning you to see if you can help with any of the 3 installation issues described in the issue description

I assume it might require changes to
https://github.com/kabanero-io/kabanero-foundation/blob/master/scripts/install-kabanero-foundation.sh

or the install doc

https://github.com/kabanero-io/docs/blob/master/ref/general/installing-kabanero-foundation.adoc

[2019-09-25 15:32] #37 closed

[2019-09-25 15:47] davco01a commented on #35
@tseelbach

Agree with 1 and 2
Specifically the github id (pw or PAT) is used to:

       1) Authorize the user to execute all the functions ( REST endpoints ) of the Kab CLI via GIT team to role based mapping(s)
       2) via git REST authentication to read the cloned, customized master collection in Champ's repository
       3) elevate to RBAC permissions within the microservice to perform actio

[2019-09-25 20:23] fwji commented on #50
We are investigating a claim where the bring-your-own Prometheus Operator picking up Prometheus CRD deployed in openshift-monitoring. This is an unwanted behavior and should be avoided. And I am also studying about a possible workaround of modifying the bundle.yaml to limit the governance of Prometheus Operator to one namespace.

[2019-09-26 19:34] bschrammIBM opened #107 "Installation script instructions need embellishing"
@davco01a commented on [Mon Sep 23 2019](https://github.com/kabanero-io/kabanero-foundation/issues/82)

On this page, in the `Installation` section:

https://kabanero.io/docs/ref/general/installing-kabanero-foundation.html

I don't see any mention of copying and modifying:

https://github.com/kabanero-io/kabanero-operator/blob/master/config/samples/full.yaml

prior to running the install-kabanero-

[2019-09-26 19:34] bschrammIBM commented on #107
@alohr51 I copied this issue to the /docs repo and will close the dup.

[2019-09-26 19:37] bschrammIBM commented on #103
closing as replaced by #107, moved from kabaner-foundation repo

[2019-09-26 19:37] #103 closed

[2019-09-26 19:38] davco01a commented on #107
Plan should be keep main install page the same with a hyperlink to a child page that details this config for a cloned Champ collection

[2019-09-26 20:15] mtamboli commented on #107
I am not sure if we need new issue for the page which will be linked from install page. I see Install page providing a link to another page which will list these 2 scenarios:

1. Using Kabanero CLI with existing/default collection
My understanding is that you still need to make some changes too full.yaml for collection (on existing instance) file but do not need to build new collections for this.

[2019-09-27 01:14] kaczyns commented on #107
@mtamboli I don't see the value in using the CLI for the default collections.  Could you explain why someone would want to do this?

For 2) yes I agree with you.

[2019-09-27 16:47] alohr51 commented on #70
So here is the plan

We are going to match the Kabanero release process for the docs. This includes the following

`0.2.0` will be used in the below example:

1. When a new release of Kabanero as a whole is ready the next version number will always be a Major or Minor bump (never a patch bump).

1. If **after a release**, A piece of Kabanero (cli,pipelines,operator,docs, etc...) needs to do a smal

[2019-09-27 17:21] alohr51 commented on #14
looks like this is resolved in the newer version https://kabanero.io/docs/ref/general/installing-kabanero-foundation.html

[2019-09-27 17:21] #14 closed

[2019-09-27 19:29] Charlotte-Holt opened #108 "Updates for Eclipse MP Collection guide"
Based on feedback from Emily Jiang, the following updates need to be made to https://kabanero.io/guides/collection-microprofile/.

1. (Optional) If you have an enterprise-specific Kabanero Collection Hub, you need the URL to your index file.
**I have no idea what to do with the above sentence. What URL, which index file?**

2. Project Structure: **link is broken** (https://github.com/kabanero-io/g

[2019-09-27 19:42] alohr51 commented on #108
not sure where that link came from for 2 but the correct link is https://github.com/kabanero-io/guide-collection-microprofile/blob/master/assets/microprofile-project-layout.png and its showing up correctly on the website

[2019-09-27 19:44] Charlotte-Holt commented on #108
@alohr51 I was wondering about that too. I'll check with Emily. Since we both seeing it showing up correctly, it could've just been how she was viewing it. I may be able to remove that as a needed update.

[2019-09-27 20:26] stephenkinder commented on #105
@ebullient @bschrammIBM I'm ok with enabling vendors to build, but this is an open-source project and it needs its own guides.  It is the vendor's responsibility to be consistent with the open-source project.  Also, internal links in public are generally considered bad form.

[2019-09-28 19:08] mtamboli commented on #107
@kaczyns Option 1 is if the user has already installed Kabanero and later decide to update collection and  use CLI. I would imaging this is a valid path and need to be documented as well?

[2019-09-30 11:33] nastacio opened #109 "Missing mention to required role for accessing pipeline information in tekton dashboard"
The installation page at
https://github.com/kabanero-io/docs/blob/master/ref/general/installing-kabanero-foundation.adoc
indicates that people can "Make detailed pipeline changes by accessing the Tekton dashboard", but it does not indicate the required role for the user.

After reading through the deployment files, I believe this is the correct role, since it allowed me to see the pipeline informa

[2019-09-30 15:08] jantley-ibm commented on #59
This is the Kabanero.io docs version: https://kabanero.io/docs/ref/general/collection-building.html
OK to close?

[2019-09-30 15:21] mtamboli commented on #59
@jantley-ibm These instructions are not yet clear to me. I am not sure how step 3 fits into that doc.

[2019-09-30 15:28] davco01a commented on #59
Couple of comments/corrections:

[code]
should read
[code]

[2019-09-30 15:30] davco01a commented on #59
[code]
should read
[code]

[2019-09-30 15:34] davco01a commented on #59
@kaczyns Please double check me if my comments make sense in the local environment, thanks

[2019-09-30 16:36] kaczyns commented on #59
We need to stop calling this "the CRD document".  The CRD is the "Custom Resource Definition", it's the model that describes how to make a CR instance.  In the sentence, `Kabanero instance` refers to the CR instance of the `Kabanero CRD`.  I think that the original working is correct, because Kabanero is a `Kind` in Kubernetes (defined by the Kabanero CRD).

[2019-09-30 17:29] davco01a commented on #59
Thanks Tim.

I still think we should take @mtamboli 's comments to heart and see how to make it clearer ( if possible ) before closing it out:

[code]

[2019-09-30 18:00] kaczyns commented on #59
OK, I will go look at some other projects and see how they refer to their CR instances.  I think we may not have done ourselves any favors by naming our CR instance `Kabanero` when the name of our project is also called Kabanero.

[2019-10-01 04:29] jgawor opened #112 "Collection building and Travis"
The https://github.com/kabanero-io/docs/blob/master/ref/general/collection-building.adoc document glosses over Travis setup. For example, it doesn't explain how Travis should be setup with DockerHub credentials. Maybe the document shouldn't even talk about Travis or creating releases if the topic is about "building collections locally".

[2019-10-01 14:16] Charlotte-Holt commented on #108
@kilnerm Can you clarify the sentence for the question that Emily raised in item 1?

[2019-10-01 16:11] mingcyu commented on #102
@SueChaplain Would you be agreeable to using this issue to cover Eclipse Che?

[2019-10-01 16:26] SueChaplain commented on #102
@mingcyu  - I created this one because a while back we agreed to base the collection guides on different stacks with the different developer experiences (Appsody CLI or codewind+IDE).

I spotted https://github.com/kabanero-io/draft-guide-codewind-getting-started the other day and wondered if we were creating guides with too much overlap, but had no visibility of what the content plan was around Ka

[2019-10-01 17:13] marikaj123 commented on #62
Need to contact Jeff about the content.

[2019-10-01 17:52] kilnerm commented on #108
The sentence refers to bullet 4 in the prerequisites section.

The bullet is trying to say that if an enterprise has its own custom version of collections then you would need a pointer to the index file for that set of collections. This would normally be a URL.

A user would use the URL in the step for "Next, run the following command to add the Kabanero index:".

Perhaps the bullet could read alo

[2019-10-01 18:33] fwji commented on #50
The workaround has been found for deploying multiple prometheus operators without conflict. I have updated the guide with the workaround.

[2019-10-01 18:55] alohr51 commented on #51
this is published https://kabanero.io/docs/ref/general/tekton-webhooks.html

[2019-10-01 18:55] #51 closed

[2019-10-02 13:32] #34 closed

[2019-10-02 14:54] dmuelle commented on #40
Hi @dacleyra @stephenkinder  @bschrammIBM

Does the  [Installing Kabanero Foundation](https://kabanero.io/docs/ref/general/installing-kabanero-foundation.html) doc on the Kabanero site satisfy this issue? If not, what is required?

Thanks!

[2019-10-02 16:12] stephenkinder commented on #40
@dmulle I believe that Dan is suggesting that the documentation here: https://github.com/kabanero-io/kabanero-foundation/blob/master/scripts/README.md needs some update, if i'm reading the issue correctly.

[2019-10-02 16:57] dmuelle commented on #40
@stephenkinder I think you're right, but from what I can tell the readme has been updated since Dan made that comment. The page on the Kanbanero site has some of the same info, but is missing the section on webhook-driven pipline runs (which is covered [elsewhere on the kabanero site](https://kabanero.io/docs/ref/general/tekton-webhooks.html)) and the section on `Uninstalling`, which, as far as I

[2019-10-02 17:51] Charlotte-Holt commented on #108
@kilnerm I've made the suggested updates at https://github.com/kabanero-io/guide-collection-microprofile. Please review, and let me know if further changes are required. Thanks!!

[2019-10-02 18:36] kilnerm commented on #108
Looks good to me.

[2019-10-02 19:58] dacleyra commented on #40
For webhook, this
https://kabanero.io/docs/ref/general/tekton-webhooks.html

is the same purpose as this section of the scripts README

https://github.com/kabanero-io/kabanero-foundation/blob/master/scripts/README.md#sample-appsody-project-with-webhook-driven-tekton-pipeline-run

---

Uninstall script was recently added

https://github.com/kabanero-io/kabanero-foundation/blob/master/scripts/README

[2019-10-02 19:58] dacleyra commented on #62
Uninstall script is here

https://github.com/kabanero-io/kabanero-foundation/blob/master/scripts/README.md#uninstallation-scripts

https://github.com/kabanero-io/kabanero-foundation/blob/master/scripts/uninstall-kabanero-foundation.sh

[2019-10-02 20:13] stephenkinder commented on #40
Thanks @dacleyra.  Closing issue.

[2019-10-02 20:13] #40 closed

[2019-10-02 22:06] marikaj123 commented on #62
@jantley-ibm - Does the issue contains what is needed for the ID team to provide the 'ID-reviewed' label?

[2019-10-02 22:10] marikaj123 commented on #16
@jantley-ibm - Does the issue contain what is needed for the ID team to provide the 'ID-reviewed' label?

[2019-10-02 22:20] marikaj123 commented on #15
@jantley-ibm - Does the issue contain what is needed for the ID team to provide the 'ID-reviewed' label?

[2019-10-02 22:22] marikaj123 commented on #38
@alohr51 - Hi Andrew, any status update on this issue would be appreciated.

[2019-10-02 22:22] marikaj123 commented on #49
@jantley-ibm - Does the issue contain what is needed for the ID team to provide the 'ID-reviewed' label?

[2019-10-02 22:23] marikaj123 commented on #66
@jantley-ibm - Does the issue contain what is needed for the ID team to provide the 'ID-reviewed' label?

[2019-10-02 22:45] marikaj123 commented on #102
@ianpartridge - Is the content ready for Alan/Nate to review? If yes, please make them as reviewers to the PR.  Thank you.

[2019-10-02 22:49] marikaj123 commented on #48
@SueChaplain - Is the content ready for Alan/Nate to review? If yes, please make them as reviewers to the PR.  Please ping me in case of any questions you may have. Thank you.

[2019-10-02 22:51] marikaj123 commented on #43
@SueChaplain  and @alohr51 - Are the content ready for Alan/Nate to review? If yes, please make them as reviewers to the PR.  Thank you.

[2019-10-02 23:25] marikaj123 commented on #35
@davco01a and @alohr51 - To have the content reviewed by Alan/Nate, please create a PR and assign them as the reviewers.  Thank you.

[2019-10-03 12:28] SueChaplain commented on #102
@marikaj123 I created this recently as I saw a gap. I'll be working on it at some point, but not for 0.2. There was noone asking for it for 0.2 and we don't have the resources to complete it in time. 0.3 will be a more reasonable target. I'm not sure why @ianpartridge was assigned. If I need some support from the dev team, I'll find someone to ask. Thanks

[2019-10-03 12:39] SueChaplain commented on #43
@marikaj123 - pull request https://github.com/kabanero-io/draft-guide-use-appsody-cli/pull/2 ready. Nate and Alan added as reviewers.

[2019-10-03 12:40] SueChaplain commented on #43
@alohr51 - please watch the review as I believe your team need to rename the repo for publish. Thanks

[2019-10-03 13:48] dacleyra commented on #68
1. I disagree that we need to be very specific about the configuration, the appropriate reference is provided.
https://github.com/kabanero-io/kabanero-foundation/tree/master/scripts#prerequisites
There are several ways this can be configured, and it's up to the administrator.

For example, at install time backed by nfs

[code]

I'm not familiar with the configuration @nastacio requires

There are

[2019-10-03 14:19] alohr51 commented on #38
so looks like this is blocked on kabanero-io/kabanero-website/issues/193 which involves getting the new content from Alan and Nate for the dev tools section of the new experience.

Although, if design (cc @mdenby) decided this could be a doc/guide instead of on a page in the website, then doc team could probably go ahead and create that install doc/guide and be unblocked. Then the website could li

[2019-10-03 14:47] alohr51 commented on #32
The [latest install doc](https://github.com/kabanero-io/docs/blob/master/ref/general/installing-kabanero-foundation.adoc) doesn't have the link to https://docs.okd.io/latest/getting_started/administrators.html anymore.

[2019-10-03 14:47] #32 closed

[2019-10-03 14:48] alohr51 commented on #68
I closed #32 as it referenced a link not in the [latest install doc](https://github.com/kabanero-io/docs/blob/master/ref/general/installing-kabanero-foundation.adoc) anymore.

[2019-10-03 15:19] dacleyra commented on #68
Proposed changes, anything else?

https://github.com/kabanero-io/kabanero-foundation/pull/95

[2019-10-03 16:20] SueChaplain commented on #48
This one won't be ready @marikaj123 - there are still some blocking items.

From an earlier comment:

I had been given a workaround for setting a default repo, but can't get this to work in practice (back to the drawing board). There is no ability to deploy through VS Code/Codewind, so the guide will go as far as build. I still have no "simple" microservices app example to use for this guide so th

[2019-10-03 17:11] SueChaplain commented on #48
Latest progress in PR: https://github.com/kabanero-io/draft-guide-collection-nodejs/pull/2

In my opinion, not ready yet.

[2019-10-03 18:43] bschrammIBM commented on #105
This is not an issue as garage site is not the official product doc.

[2019-10-03 18:43] #105 closed

[2019-10-03 21:10] Emily-Jiang commented on #108
Looks good!

[2019-10-04 15:03] aadeshpa opened #116 "Please review the Kabanero Pipelines Troubleshooting guide"
Below is the link of the Troubleshooting guide:
https://github.com/kabanero-io/kabanero-pipelines/blob/83d770f3ff5b4875278dad61b6af33b746386d2a/Troubleshooting.md

Please review this troubleshooting guide and suggest/make changes to improve the readability.   Also if possible and if it makes sense please reformat so it is consistent with other Kabanero troubleshooting guides

[2019-10-04 15:21] aadeshpa commented on #116
This is an issue in reference to the issue : https://github.com/kabanero-io/kabanero-pipelines/issues/54

[2019-10-04 19:08] marikaj123 commented on #49
Ongoing work. the issue is a maintenance task needed for every release.

[2019-10-04 19:11] marikaj123 commented on #45
@alohr51 - Is it an issue valid that needs to be addressed for this release.

[2019-10-04 19:13] marikaj123 commented on #50
@fwji and @alohr51 - Any reason why this held back from being published?

[2019-10-04 19:19] alohr51 commented on #45
doesn't seem like we got an update, I would assume Dans update above fixes it.

[2019-10-04 19:19] alohr51 commented on #50
Yeah it's not approved yet.

[2019-10-04 19:22] marikaj123 commented on #57
Need kAppVav team to help with this.

[2019-10-04 19:33] marikaj123 commented on #108
@alohr51 - Please close if published.

[2019-10-04 19:39] marikaj123 commented on #109
Close after publishing

[2019-10-04 19:42] alohr51 commented on #108
@marikaj123 this issue is for updated to the already published guide,  this should close when the updates are merged by the person who made the updates.

[2019-10-04 22:06] nastacio commented on #116
In general, if we know what to tell the user to go run, we should run it ourselves and explain to the user what is wrong.

The idea of written instructions is more useful to cases where the information being collected requires higher-level abstractions and (imprecise) judgement of how to proceed.

For instance, for something like "Check whether your pipelinerun failed due to unbound PersistentVolu

[2019-10-04 23:49] bschrammIBM commented on #56
Might make sense to include the troubleshooting information in https://github.com/kabanero-io/docs/issues/116 in the Pipelines Guide.

[2019-10-04 23:50] bschrammIBM commented on #116
I don't think this information should be a separate guide. It can be included in the Pipelines Guide. See https://github.com/kabanero-io/docs/issues/56

[2019-10-04 23:51] bschrammIBM commented on #57
Title could be: `How to manage microservice-based apps using kAppNav`

[2019-10-05 00:00] bschrammIBM opened #118 "Guide: How to onboard your developers faster with Code Ready Workspaces"
Need a Guide for `How to onboard your developers faster with an integrated hosted IDE (Eclipse Che) in Kabanero.`
Or perhaps it can be included in the Eclipse Guide see: https://github.com/kabanero-io/docs/issues/102

[2019-10-07 14:01] dacleyra commented on #68
No feedback, assuming satisfactory, merged and closing

[2019-10-07 14:01] #68 closed

[2019-10-07 14:11] mingcyu commented on #56
Need to check with Barbara if this covers issues #78 and #79 of Doc Repo

[2019-10-07 14:15] jantley-ibm commented on #116
@aadeshpa @nastacio  could you add the information in this issue to issue 56 and close this one?

[2019-10-07 15:42] davco01a commented on #35
ID creates Doc, @bschrammIBM @jantley-ibm

[2019-10-07 15:48] marikaj123 commented on #59
Need Monica and Jeff to review the doc.

[2019-10-07 15:56] marikaj123 commented on #99
@SueChaplain -  Can you provide clarity on whether the Kabanero guides will include content regarding the difference between stacks and collection?

[2019-10-07 15:58] marikaj123 commented on #48
@SueChaplain - Let us know what are the next steps to get the issue closed.

[2019-10-07 16:05] SueChaplain commented on #99
@marikaj123 - I would expect this guide to cover that: https://github.com/kabanero-io/docs/issues/55.

I've raised PR https://github.com/kabanero-io/kabanero-website/pull/250 to add a small update to the page for this issue, which I hope @mtamboli is ok with ahead of the new Getting Started section that is being worked on here: https://github.com/kabanero-io/kabanero-website/issues/188 (currently

[2019-10-07 16:07] aadeshpa commented on #116
Thank you @nastacio for the feedback, we will try to improve the troubleshooting documentation going forward.

[2019-10-07 17:21] SueChaplain commented on #48
@marikaj123

- I have added steps for setting the repository to point to Kabanero, which a codewind developer is checking for me.
- I need a sample Node.js microservices application to use as part of the guide (similar to the ones we have for microprofile and Spring). I'm getting some help with this from Bazif.

Hope to have this guide ready for review by Alan in a couple of days.

[2019-10-07 22:25] nastacio commented on #116
I don't have additional information for issue #56, I was offering a comment about the approach towards troubleshooting in general.

[2019-10-08 15:11] davco01a opened #119 "Title Building the collections locally is misleading"

[2019-10-08 17:09] #99 closed

[2019-10-08 20:52] marikaj123 commented on #55
@SueChaplain  - Is the issue ready for the label ID-reviewed?

[2019-10-08 21:04] marikaj123 commented on #116
@ aadeshpa, can you please help based on the above comment.

[2019-10-08 21:14] marikaj123 commented on #62
@alohr51 - Do we need anything specific from the owner before we can get the issue published?

[2019-10-08 21:24] alohr51 commented on #62
@marikaj123 We need to confirm the doc is correct https://github.com/kabanero-io/docs/blob/master/ref/general/uninstalling-kabanero-foundation.adoc I'm sure @jantley-ibm had it reviewed or similar, but we can double check

[2019-10-09 08:35] SueChaplain commented on #38
Is this still a valid issue?

Might it not be superseded by the content coming from Alan and Nate? If not, we need visibility of the work that's underway in order to contribute some changes. If there is no change in status by 14th October this issue is unlikely to make the 18th October date.

[2019-10-09 08:45] SueChaplain commented on #56
I believe @mingcyu is referring to the issues in the pipelines repo, which have been raised by SVT (@mtamboli)

- https://github.com/kabanero-io/kabanero-pipelines/issues/78
- https://github.com/kabanero-io/kabanero-pipelines/issues/79

@marikaj123 @bschrammIBM - we need some better coordination between issues that the SVT team are raising that are duplicating plans for other guides and documentat

[2019-10-09 12:21] kvijai82 commented on #56
We have a lot of issues floating around pipeline docs :) I am hoping this consolidated version addresses all of it.  This is my first draft of it.  Still have a few more additions and updates I would like to get in today.

Would appreciate any initial feedback on this.  @bschrammIBM @mtamboli @aadeshpa @smcclem @tseelbach @stephenkinder

# Kabanero Pipelines

# Introduction

Kabanero leverage Tekt

[2019-10-09 13:40] SueChaplain commented on #55
@marikaj123 - no, not ready. The input shown in this issue is simply something I knew existed and added it to the issue to help. The developer assigned to this issue (https://github.com/kvijai82) is, I believe, a developer in the Tekton team who has not provided anything so far ... possibly because it might be better assigned to a developer in the Collections team. Can you confirm who you expect t

[2019-10-09 13:40] jantley-ibm commented on #62
@marikaj123 @kaczyns approved the pull request kabanero-io/docs#114, should be good to go

[2019-10-09 13:50] csantanapr commented on #16
I'm using kabanero pipelines on OpenShift and don't see this problem anymore

[2019-10-09 13:50] #16 closed

[2019-10-09 14:12] #62 closed

[2019-10-09 14:13] dmuelle commented on #93
Hi @kvijai82, will this content be covered in the doc outlined in #56 ?

[2019-10-10 14:16] SueChaplain commented on #48
Ready for review @ralanlittle & @nateziemann in PR: https://github.com/kabanero-io/draft-guide-collection-nodejs/pull/3

[2019-10-10 17:19] kaczyns commented on #119
@mtamboli and I discussed this page at length today.  I am going to split it up into two separate pages, one describing how to curate the collection, and one describing how to set up Kabanero to use it.

[2019-10-10 20:21] tseelbach commented on #35
@jtmulvey need your help to document the meaning of login items 1 and 2 here https://github.com/kabanero-io/docs/issues/35#issuecomment-534962801
In my opinion 1 and 2 don't belong in the CLI adoc.  Seems like a higher level security adoc.

[2019-10-10 20:43] wtistang opened #128 "Add the namespace info to Create secrets step"
In the instruction to create a GitHub secret of "Connecting Kabanero to GitHub with Tekton Webhooks", the kabanero namespace should be used, but that info is missing in the instruction.

[2019-10-10 21:51] marikaj123 commented on #107
@kaczyns - who can help with documenting the path described above by Monica?  Would it be CLI team?

[2019-10-10 22:04] marikaj123 commented on #59
@kaczyns - Is any work pending from the collection team, @ianpartridge  for this issue?

[2019-10-10 22:12] marikaj123 commented on #55
@tseelbach and @ianpartridge- would this be under pipeline or collection?

[2019-10-11 02:24] mtamboli commented on #56
@kvijai82 I looked at the doc above. I still do not understand a few things:
1. I am not able to follow directions for `Manual pipeline execution via CLI`. What CLI are we talking about here?
Are these steps for if you have updated pipelines as part of the collections?
![image](https://user-images.githubusercontent.com/29490950/66619378-b713b300-ebaa-11e9-8ba1-04e51d065430.png)

-  So if one has i

[2019-10-11 07:04] kilnerm commented on #55
@SueChaplain The Collections README should be a good starting point... https://github.com/kabanero-io/collections/blob/master/README.md.

Could you have a look and let me know if anything else is needed?

[2019-10-11 13:44] kvijai82 commented on #56
@mtamboli thanks for the feedback!

On point 1, the CLI is just a set of oc commands to run the pipeline manually.  So if you writing a pipeline / task versus using it as part of your CI/CD workflow, I think this is the process a user might find easier to follow.  As part of Kabanero, we ship one pipeline that is used by all the collections.  When you build the collections, they get packaged into

[2019-10-11 16:34] kaczyns commented on #107
@marikaj123 Monica and I have been talking about this doc, I have the following PRs which I hope will address the issues she raised here:
https://github.com/kabanero-io/docs/pull/127
https://github.com/kabanero-io/docs/pull/123

If not, please add specifically what should be added/enhanced to resolve this issue.  I don't think it's valid to set up the CLI until Champ has curated the collections (a

[2019-10-11 16:36] kaczyns commented on #59
@marikaj123 I don't think @mtamboli is finished going thru the steps yet, so I'm not sure if we need more from the collection team.

[2019-10-11 19:01] mtamboli commented on #59
@kaczyns Do you think any of the information requested in this issues is covered in the docs you are updating? I think this should come from collections team? Am I missing a doc which might already be there?

[code]

[2019-10-14 05:40] kaczyns commented on #59
Hi @mtamboli - I'm not sure what team would be responsible for those things.  It's not the operator team.  The first two sounds like maybe the collections team.  The third one, I'm not sure.  That might fall on the user.

[2019-10-14 14:20] stephenkinder commented on #128
@bschrammIBM we need to clarify the instructions.

[2019-10-14 15:10] jantley-ibm commented on #118
@SueChaplain please reassign in your team as appropriate

[2019-10-14 15:38] ManasiGandhi commented on #100
@stephenkinder Are there any links to topics that I can refer to, with some more details on validating what Kabanero repository and collections were used and active for a specific  Kabanero instance?

[2019-10-14 20:03] jantley-ibm commented on #15
@csantanapr is this sufficient, as the third bullet in Install step 5 on https://kabanero.io/docs/ref/general/installing-kabanero-foundation.html:
* If using a wildcard DNS such as nip.io, append it to the subdomain: `openshift_master_default_subdomain=<MY_OPENSHIFT_MASTER_DEFAULT_SUBDOMAIN>.nip.io ./install-kabanero-foundation.sh`

[2019-10-14 20:33] dmuelle commented on #128
PR for this update- https://github.com/kabanero-io/docs/pull/131

[2019-10-14 21:11] bschrammIBM commented on #56
Add this step as a Troubleshooting option to the pipelines guide: (discussed on slack convo here:
https://ibm-cloud.slack.com/archives/CKM8XAUE9/p1571077506124100)
Issue: The Tekton Pipeline Webhook returns the following error:
`Last Delivery was not successful.  Invalid HTTP response 503.`

Solution:
Redeliver the webhook.

[2019-10-14 21:14] bschrammIBM commented on #56
Another issue for the Pipelines Guide from slack convo here: https://ibm-cloud.slack.com/archives/CKM8XAUE9/p1571061948116600

The Tekton Dashboard may experience errors when accessed from Firefox ESR.

[2019-10-14 21:33] csantanapr commented on #15
@jantley-ibm yes is sufficient

[2019-10-14 22:00] bschrammIBM commented on #58
Yes this issue can be closed. It is no longer relevant as Guide production is moving forward.

[2019-10-14 22:00] #58 closed

[2019-10-14 22:25] bschrammIBM commented on #50
Labeled as ready-to-publish @ralanlittle approved these guides via a slack message:

[code]

[2019-10-15 14:05] #15 closed

[2019-10-15 17:13] SueChaplain commented on #55
Initial draft repo created and populated with a very early draft. More work needed.
https://github.com/kabanero-io/draft-guide-working-with-collections

[2019-10-15 17:15] SueChaplain commented on #102
Initial draft repo created and populated with a draft from Kye. Doc review required ahead of validation: https://github.com/kabanero-io/draft-guide-microprofile-eclipse-codewind/blob/master/README.adoc

[2019-10-15 17:43] dmuelle commented on #35
@tseelbach @jtmulvey

What updates to https://github.com/kabanero-io/docs/blob/master/ref/general/kabanero-cli.adoc are needed for release 0.2? Since this doc is not published on the website yet, should it be formatted as a Guide or for inclusion in the docs/ref/general collection?

Just trying get an idea of what remains to be done before 0.2 release on Firday- thanks

[2019-10-15 17:57] dmuelle commented on #56
Hi @kvijai82 - is the draft above ready for ID review, or are you still adding to it? Also, should this doc be a guide (like https://kabanero.io/guides/collection-springboot2/) ? Just rying to get an idea of what work is needed before Friday's 0.2 release

Thanks!

[2019-10-15 20:21] jtmulvey commented on #35
@tseelbach  @dmuelle David, please see this README in the kabanero-security repo: https://github.com/kabanero-io/kabanero-security
Specifically have a look at the paragraph on
"Support for authentication and RBAC for Kabanero Collection maintenance"  this (or some of this) should probably be added to the adoc.

[2019-10-15 20:31] tseelbach commented on #35
@dmuelle - for 0.2 release, i suggest a simple "Related" link from the CLI adoc to the Security README "Support for authentication and RBAC for Kabanero Collection maintenance"

[2019-10-15 21:12] davco01a commented on #66
At this point in time we are really working off of:

https://github.com/kabanero-io/docs/blob/master/ref/general/collection-building.adoc

[2019-10-15 21:12] davco01a commented on #66
I also have this issue open to retitle this document:

https://github.com/kabanero-io/docs/issues/119

[2019-10-15 21:13] davco01a commented on #66
Additionally:

Bullet one of Step 3 needs some rework -

Specify the repository URL in the Kabanero document (object) to point to a cloned, customized index.yaml for the master collection. The URL setting is in the Spec.Collections.Repositories section of the Kabanero Custom Resource (CR) instance. You can either alter the Kabanero CR instance that already exists, or delete it and create a new one

[2019-10-15 21:16] davco01a commented on #66
Also some mention of step 3 about how to edit the Kabanero document would be help, e.g. oc edit or how to navigate to the CR from within the OKD console

@mtamboli ^^

[2019-10-15 21:23] marikaj123 commented on #59
Do we have the doc created for Champ to add and delete a collection?  How can Champ change a fixpack level of a Java Microprofile?

[2019-10-15 21:56] groeges commented on #59
@marikaj123 Sue Chaplain is generating a document on how Champ would add or exclude/delete a collection.
As to how Champ would change the stack in a collection that is more an Appsody stack question. The collections team are not the experts on each of the stacks. The instructions on how and what can be modified in a stack is probably best coming from the stack owners.

[2019-10-15 22:44] marikaj123 commented on #107
@mtamboli - Please inform us in case more info is required.

[2019-10-15 23:27] marikaj123 commented on #57
According to Richard and Chris V, the issue will be completed by this Friday.

[2019-10-15 23:50] marikaj123 commented on #66
@mtamboli - From SVT perspective, do you have what you need?
@davco01a and @kaczyns - Since ID work @jantley-ibm is complete, is the issue ready to close?

[2019-10-15 23:52] marikaj123 commented on #101
@kaczyns - let us know in case need any help is needed. Thank you.

[2019-10-15 23:55] marikaj123 commented on #55
@SueChaplain - Please let us know in case of any help is needed.

[2019-10-16 01:38] kaczyns commented on #66
@davco01a I think your comments are addressed in PR #127 .  Could you please review that?

[2019-10-16 01:43] kaczyns commented on #101
@marikaj123 I am just waiting for someone to review and merge kabanero-io/docs#126

[2019-10-16 10:31] kvijai82 commented on #56
@dmuelle yes this is ready for review.  I was initially thinking this would be a doc in the reference section of the website, but am open to making this a guide if folks think that would be more useful.  I created a PR in the kab pipelines repo to update the readme there with this contents in pasted as a comment above to make it easier to read:  https://github.com/kabanero-io/kabanero-pipelines/tr

[2019-10-16 13:04] jantley-ibm commented on #109
@nastacio based on the input from @mnuttall I think we should close this one as invalid.  If we want to make different updates, let's open a new issue.

[2019-10-16 14:33] jantley-ibm commented on #66
@SueChaplain these docs are currently being revised by @kaczyns per https://github.com/kabanero-io/docs/pull/127/files.  If the guide covers all of the proposed updates then I'll recommend removing the reference topics.

[2019-10-16 14:42] davco01a commented on #66
Once https://github.com/kabanero-io/docs/pull/127 is merged, then we can close this

[2019-10-16 14:42] akihikokuroda opened #133 "service account for webhook should be appsody-sa"
The service account used for the webhook should be `appsody-sa` instead of `kabanero-opeator` in the following sentence.

[code]
in tekton-webhooks.adoc.

[2019-10-16 14:59] davco01a opened #134 "Step 4 of Configuring Kabanero to use an Alternate Collection Repository needs to mention edit"
Step 4 of Configuring Kabanero to use an Alternate Collection Repository needs to mention oc edit too for modifications

[2019-10-16 15:03] kaczyns commented on #107
#127 and #123 have merged.  Please open a follow-on issue if more updates are required.  Thanks!

[2019-10-16 15:03] #107 closed

[2019-10-16 15:03] #101 closed

[2019-10-16 15:05] kaczyns commented on #66
#127 is merged, I am closing this issue.  #134 was opened to make an edit to the new page.

[2019-10-16 15:05] #66 closed

[2019-10-16 15:06] #134 closed

[2019-10-16 15:37] #133 closed

[2019-10-16 15:56] akihikokuroda commented on #133
Thanks!

[2019-10-16 15:56] akihikokuroda commented on #133
/close

[2019-10-16 15:59] nastacio commented on #109
I agree with closing. I think part of the confusion was also introduced by https://github.com/tektoncd/dashboard/issues/528, which was opened later.

It is possible that I have verified the "solution" here on a different web browser than Firefox and gotten the impression the role assignment fixed the issue.

[2019-10-16 15:59] #109 closed

[2019-10-16 18:17] SueChaplain commented on #55
I've posted my latest updates to the draft guide repo: https://github.com/kabanero-io/draft-guide-working-with-collections but I need some help from development if this is ready to go for Friday.

The content is largely drawn from information provided by @groeges - thanks Steve! The final piece I tried to add is to have the user modify a collection as part of this guide and then test that the chan

[2019-10-16 22:21] nastacio opened #141 "Request new "Overview" category"
We have a Kabanero overview, introduced in issue #41 and hosted currently as a guide in kabanero.io (https://kabanero.io/guides/overview/) .

That is not a guide in terms of guiding the user towards execution of steps and achievement of a goal, but rather an overview we wanted in the navigation tree of the "docs" portion of the site itself: https://kabanero.io/docs/

At the same time, it is also n

[2019-10-17 00:06] marikaj123 commented on #59
Based on the meeting we had today SVT (@mtamboli ) has what it needs to run the scenario and @SueChaplain will complete the work by this Friday.

[2019-10-17 00:21] marikaj123 commented on #56
@mtamboli - From SVT perspective do you have what you need to test your scenario?

[2019-10-17 00:23] marikaj123 commented on #56
According to @kvijai82 - looking to complete the work by this Friday.

[2019-10-17 03:23] marikaj123 commented on #35
@dmuelle and @tseelbach - Is there a PR created with the updates?

[2019-10-17 03:30] marikaj123 commented on #57
According to Chris, the team is looking to out the appnav guide on kabanero.io

[2019-10-17 12:44] stephenkinder commented on #55
@SueChaplain this is excellent and it is indeed what I was looking for.  We've been using the term "_Kabanero Collection Hub_" to describe the set of collections that are built as part of this process -- is that something we want to reinforce in this article?   If we can connect this guide to using it, _e.g._ Now that you've built your customized collection hub, remember to 1) publish the release

[2019-10-17 13:22] dmuelle commented on #56
Working draft in progress at https://github.com/kabanero-io/draft-guide-working-with-pipelines

[2019-10-17 13:56] dmuelle commented on #35
@tseelbach @marikaj123

PR for updates to this doc: https://github.com/kabanero-io/docs/pull/144

[2019-10-17 14:00] SueChaplain commented on #55
@stephenkinder - thanks for the feedback, very useful. I have included that at the end of the guide. +1

[2019-10-17 14:03] alohr51 commented on #35
CLI docs are in and updates from @dmuelle are merged, closing this now.

[2019-10-17 14:43] SueChaplain commented on #48
@ralanlittle & @nateziemann - I merged the PR to make it easier for your to review from master.

[2019-10-17 15:05] #128 closed

[2019-10-17 15:50] SueChaplain commented on #48
Andrew has kindly staged these at: https://kabanero-ajlohr.us-south.cf.test.appdomain.cloud/guides/

[2019-10-17 15:51] SueChaplain commented on #55
Andrew has kindly staged these at: https://kabanero-ajlohr.us-south.cf.test.appdomain.cloud/guides/

[2019-10-17 18:21] bschrammIBM commented on #57
Dolores Lopez has source material for the kAppNav guide, according to slack message:

[code]

[2019-10-17 18:31] marikaj123 commented on #57
@bschrammIBM - Would we consider this issue as a duplicate of introduce KnappNav in kabanero.io #231? If, yes, can it be closed?

[2019-10-17 19:16] alohr51 commented on #57
@marikaj123 kabanero-io/kabanero-website/issues/231 is about adding a mention of kAppNav to the website pages itself, this one is writing a **guide** for kAppNav that would also go on the website so I wouldn't consider them duplicates.

[2019-10-17 19:19] dmuelle commented on #56
Guide at https://github.com/kabanero-io/draft-guide-working-with-pipelines is ready for review

@ralanlittle @nateziemann

[2019-10-17 19:40] #70 closed

[2019-10-17 20:21] marikaj123 commented on #49
According to Andrew, we can close it.

[2019-10-17 20:22] #49 closed

[2019-10-17 20:23] marikaj123 commented on #56
Waiting for Nate and Alan to review and then close

[2019-10-18 04:22] cvignola commented on #57
@Rwalls1 Draft here:  https://ibm.box.com/s/berqr4swcnm3m56kuzigf32a6k8fu2y4

[2019-10-18 10:09] KyeMaloy97 commented on #102
The draft has been checked over and approved by Sue, just needs to get through the last steps now.

[2019-10-18 18:53] kvijai82 commented on #93
Covered in #56 .

[2019-10-18 18:53] #93 closed

[2019-10-18 20:38] Rwalls1 commented on #57
@cvignola @ralanlittle @nateziemann Guide at https://github.com/kabanero-io/draft-guide-using-kAppNav is ready for review.

[2019-10-21 19:23] marikaj123 commented on #59
@SueChaplain - Is it ready to close?

[2019-10-22 08:18] SueChaplain commented on #59
@marikaj123 - the main work is tracked in #55. The guide is complete, but like others, it is in review. If @mtamboli is happy (?), you could close this one and we leave #55 open until Alan and Nate complete their review.

[2019-10-22 12:30] davco01a opened #153 "README and TroubleShooting doc for Command Line services"
README and TroubleShooting doc for Command Line services

Pickup md file content from README.md and TroubleShooting.md files from:

https://github.com/kabanero-io/kabanero-command-line-services

[2019-10-22 15:37] jopit commented on #48
The section https://github.com/kabanero-io/draft-guide-collection-nodejs#configuring-your-environment-to-use-a-kabanero-collection-hub talks about manually editing the `.config/repository_list.json` file.

The better way to do this is by right-clicking on the `Projects` item in the Codewind view and selecting `Manage Tempate sources` from the menu.  This will present a view that allows the Kabaner

[2019-10-22 16:47] SueChaplain commented on #48
Thanks for the feedback @jopit - I'll get those changes made asap.
Is the `Manage Template sources` view new? This guide was started some time ago and I remember Toby mentioning that there were new UI capabilities coming along.

[2019-10-22 16:59] jopit commented on #48
The `Manage Template Sources` view was added about a month ago, in the 0.4.0 Codewind release

[2019-10-22 17:52] SueChaplain commented on #48
OK, well .... bad timing or bad info. I'll get it fixed.

[2019-10-23 08:52] SueChaplain commented on #118
We plan to do this work as a separate guide, similar to the work done in #102.

[2019-10-23 15:42] SueChaplain commented on #48
@jopit - thanks for your review on the PR, now merged.

@ralanlittle and @nateziemann - comments from John are addressed, guide back in the review queue.

[2019-10-23 16:18] davco01a opened #158 "Teams list in Kabanero should be yaml list not comma separated"
Teams list in Kabanero should be yaml list not comma separated

[2019-10-23 16:20] davco01a commented on #158
e.g.

correct:

[code]

incorrect:

[code]

[2019-10-23 16:20] davco01a commented on #158
see bottom of:

https://kabanero.io/docs/ref/general/kabanero-cr-config.html

[2019-10-23 16:20] davco01a commented on #158
two docs need to be changed:

 collection-install.adoc and kabanero-cr-config.adoc

[2019-10-24 13:30] gecock opened #159 "Suggested Tekton Webhook Service Account does not appear in the default list"
The suggested Service Account to use (`appsody-sa`) on this page, https://kabanero.io/docs/ref/general/tekton-webhooks.html, is not an option in the default list of options you get out of the box for Kabanero 0.2.0 using the default collections.

This was recently changed from `kabanero-operator` by this issue -- https://github.com/kabanero-io/docs/issues/133.

@stephenkinder we need to straighten

[2019-10-24 13:49] jantley-ibm opened #160 "Add information about mustgather script"
Need doc on the kabanero site regarding using the mustgather script

https://github.com/kabanero-io/kabanero-foundation/blob/master/scripts/mustgather/kabanero-mustgather.sh

[2019-10-24 15:19] dacleyra commented on #45
AFAIK, this is resolved, as others were able to successfully execute the scenario.

[2019-10-24 15:19] #45 closed

[2019-10-24 17:05] davco01a opened #163 "Need cookbook for GIT team creation and adding members"
Need cookbook for GIT team creation and adding members

[2019-10-24 17:05] davco01a commented on #163
add to: https://kabanero.io/docs/ref/general/kabanero-cr-config.html

[2019-10-24 19:23] jagraj commented on #45
Thanks Dan for closing, Our team is not testing with Kabanero stack. we are going to start testing for our next release for Eclipse Che support.

[2019-10-24 19:55] Rwalls1 commented on #57
@ralanlittle @nateziemann Please review: https://github.com/kabanero-io/draft-guide-using-kAppNav

[2019-10-25 13:05] davco01a opened #164 "Put a link under Todd for the creating a Kab CR instance on the web site"
https://kabanero.io/docs/ref/general/kabanero-cr-config.html

The appropriate place under here:

https://kabanero.io/operations/

[2019-10-25 14:11] #164 closed

[2019-10-25 14:27] ManasiGandhi commented on #100
The updates can be seen here https://github.com/kabanero-io/docs/blob/5be4db84c281d962e658f7d1cca5efb7a7810f00/ref/general/kabanero-cli.adoc#show-the-active-repository-and-collections-for-a-kabanero-instance

[2019-10-25 15:54] alohr51 opened #165 "Delete Architecture & Overview Guide once 0.3.0 is published"
in https://github.com/kabanero-io/docs/pull/143 we moved the guide to the docs since it makes more sense there.

We need to delete the guide repo (or rename it with a leading `draft-`) so it doesn't get published as a guide anymore. It will be under the Overview tab in the docs section instead.

[2019-10-25 17:06] chirp1 opened #166 "Document new kAppNav logging/trace actions for OpenLiberty for 11/15/19"
Write / edit the documentation for Kapp Nav

Determine the topics and the architecture for the topics in the navigation. Review the topics and architecture with Pam.

    Richard: List the Kapp Nav topics here:
    Edit or create these Kapp Nav topics.
    Ensure that development (Chris, etc) tests task topics by having them reading the steps in the task topics and following the steps read.

[2019-10-25 17:50] mtamboli commented on #59
As Sue above recommended, will close this issue.

[2019-10-25 17:50] #59 closed

[2019-10-25 17:56] marikaj123 commented on #166
@Rwalls1 - Do you need to include a developer from kAppNav to help with the content for this issue.

[2019-10-25 18:09] Rwalls1 commented on #166
@marikaj123 Yes, I think I'll be working with Chris Vignola.

[2019-10-25 18:49] marikaj123 commented on #166
@cvignola needs to have permission to show as assignee.

[2019-10-28 14:44] #100 closed

[2019-10-28 15:28] SueChaplain opened #167 "Remove content duplication: Modifying the default Kabanero collection"
Doc page: https://kabanero.io/docs/ref/general/collection-building.html was created from https://github.com/kabanero-io/collections/blob/master/README.md to plug a gap.

The following guide is in review and provides a learning journey for working with collections that incorporates this content: https://github.com/kabanero-io/draft-guide-working-with-collections

Proposed action when this guide com

[2019-10-29 14:59] SueChaplain commented on #118
@stephenkinder - We could use some technical help on this please. Che is proving difficult to get running. @davehobbs has made more than one attempt but is unable to get a working environment in which to step through the developer flow. Is there someone you can suggest?

[2019-10-29 15:56] alohr51 commented on #158
@jantley-ibm when the PR is merged the issue should close, you can add the `closes #xxx` keyword to your PR description so when it's merged, GitHub will automatically close issues for you so we don't have to remember to do that step.

https://help.github.com/en/github/managing-your-work-on-github/closing-issues-using-keywords

[2019-10-29 15:56] #158 closed

[2019-10-30 14:46] stephenkinder opened #177 "OCP4.2 Install script is located in the ocp42 folder. Update Install Doc"
To help separate the OpenShift vs. OKD install experience, we created a folder for OCP 4.2 to hold the new install example scripts.  When 0.3.0 is released, we need to make sure the correct links for Try It! are pointing at the right scripts.

https://github.com/kabanero-io/docs/blob/master/ref/general/installing-kabanero-foundation.adoc needs to be updated to point to the 0.3.0 way of installing

[2019-10-30 16:46] j-c-berger opened #168 "Guide-Getting Started with Codewind in Kabanero"
We need a guide to help users begin to develop with Codewind.

With this guide, users will learn Codewind's capabilities and develop a simple Microservice with their chosen IDE.

You may see the working progress of this guide by going to this repo, `kabanero-io/draft-guide-codewind-getting-started` https://github.com/kabanero-io/draft-guide-codewind-getting-started#developing-with-eclipse

[2019-10-30 19:21] marikaj123 commented on #159
@stephenkinder - is the complete and readt to close?

[2019-10-30 20:27] marikaj123 commented on #168
@j-c-berger - Did lan revview the content?

[2019-10-31 18:04] SueChaplain commented on #118
Some help received from the Codewind team. Che installed and working.

[2019-10-31 18:58] davco01a opened #170 "Need link to `Configuring a Kabanero CR Instance` for Todd"
Need link to `Configuring a Kabanero CR Instance` for Todd

[2019-10-31 18:59] #170 closed

[2019-10-31 20:30] tseelbach opened #172 "doc CLI rename of refresh to sync"
This item will change the CLI code  https://github.com/kabanero-io/kabanero-command-line/issues/117
Need to also update the adoc

[2019-11-01 15:01] Charlotte-Holt opened #173 "Guide for Jenkins integration with Kabanero"
This guide was already written by @dewan-ahmed, and it is in the review process. It's currently located at https://github.com/kabanero-io/draft-guide-jenkins-integration-with-kabanero.

[2019-11-01 16:47] anneqm commented on #173
See issue #66

[2019-11-04 15:14] mingcyu commented on #38
Need to discuss with Alan whether this is still needed given the page is being replaced

[2019-11-04 15:16] mingcyu commented on #112
Sue to look into leveraging guide to convey the information

[2019-11-04 15:18] mingcyu commented on #159
@dmuelle David can you investigate if this should be part of the pipeline guide

[2019-11-04 15:23] mingcyu commented on #160
Content should go some where near the troubleshooting page?

[2019-11-04 15:25] mingcyu commented on #163
@davco01a Who can ID Team work with gather content?

Consider making this a guide?

[2019-11-04 15:26] mingcyu commented on #163
@davco01a Is this needed for 0.4?

[2019-11-04 15:37] davco01a opened #174 "Doc update for "Configuring Kabanero to use an Alternate Collection Repository""
RE:  https://kabanero.io/docs/ref/general/collection-install.html

`The Spec.Collections.Repositories.url attribute should be set to the URL of the collection repository.`

should read:

`The Spec.Collections.Repositories.url attribute should be set to the URL of the alternate collection repository.`

[2019-11-04 16:11] SueChaplain commented on #112
Hi @jgawor - we plan to replace this topic with a guide, which is currently in review:
https://github.com/kabanero-io/draft-guide-working-with-collections

The guide is aimed at Champ, for managing those parts of the collection that relate to stacks, not pipelines. There is another guide being written that covers "Working with pipeline".

The working with pipelines guide is more aimed at Todd - wo

[2019-11-04 16:19] dmuelle commented on #159
@mingcyu the Pipelines guide only mentions service accounts with reference to creating a Git secret and does not directly provide a recommendation. It does link to the `Create Secrets` section of the  Webhooks doc though, so whatever is resolved to update that doc will have bearing on the pipelines guide.  Working with @kvijai82 to determine how best to update the service account recommendations t

[2019-11-04 16:40] jgawor commented on #112
Well, that might work but the new document is already pretty long. And I don't see how this works end to end. I think we might need a document (that's actually verified) that works with github.com and another one for GitHub Enterprise. One that uses DockerHub with some custom organization and another one that uses internal registry.

[2019-11-04 18:06] SueChaplain opened #176 "Clean up Docs area"
Epic for issues relating to a clean up of the existing Docs area as a result of a doc meeting.

Content definition from our content architect:

- Guides should be used for architectural, conceptual, or procedural content.
- Docs should be used primarily for Reference content

To cover the following areas:

1. Provide more info in the contributions guidelines to help users decide when to write a gu

[2019-11-04 18:37] SueChaplain commented on #177
@mingcyu - some work to assign in the docs team, maybe to someone who is familiar with the material already there.

[2019-11-04 19:00] kaczyns commented on #177
@stephenkinder The install script actually moved to the kabanero-operator repository.  It's attached to the kabanero-operator release.  The install instructions in kabanero-foundation reference this now. and I'll be updating the install docs to reference this as well.

Please let Dan and I know if this new arrangement is unacceptable.

[2019-11-04 20:42] jxadro opened #179 "Kabanero 0.2.0. Documentation about tekton"
It would be good to have some article in "kabanero.io" that puts some glue between appsody stacks and tekton pipelines.

I think the only documentation / guide available about tekton in kabanero.io is how to create a webhook.

[2019-11-04 20:43] jxadro opened #180 "Guide for creating a new Pipeline and adding to Kabanero Collection"
I think it would be good to have a clear and "deep" understanding a guide or lab for creating from scratch a new stack and a new tekton pipeline and make them work together.

[2019-11-04 20:43] #177 closed

[2019-11-04 22:05] mtamboli opened #181 "Document how to add dependency jars for Java Microprofile stack"
For Liberty applications which are referencing DB2 jars in server.xml file, there is no easy way to copy those files to container image. There is a way to do this by updating generated application pom file.  This can be time consuming to figure out so best to document.

I can certainly see this going into Java MicroProfile guide but not sure if other docs can use it too.
[code]

[2019-11-04 22:59] bschrammIBM commented on #179
@jxadro Please see the guide that is pending final review at: https://github.com/kabanero-io/draft-guide-working-with-pipelines/blob/master/pipelines.adoc.

[2019-11-04 23:02] bschrammIBM commented on #179
I think this may be a duplicate of https://github.com/kabanero-io/docs/issues/56

[2019-11-05 11:40] SueChaplain commented on #112
I think there is scope to create guides for these areas. Who would be the best person to sketch out the user flows for these scenarios?

[2019-11-05 15:27] davco01a opened #182 "Tryit CLI doc for Champ should have link to Todd's configuration for the CLI service"
Tryit CLI doc for Champ should have link to Todd's configuration for the CLI service

https://kabanero.io/docs/ref/general/kabanero-cli.html

should have a link to:

https://kabanero.io/docs/ref/general/kabanero-cr-config.html

Explaining that the Operations team has to perform those steps in order configure the CLI microservice that the CLI code calls

[2019-11-05 15:28] davco01a commented on #182
This new doc should be at the top of:

https://kabanero.io/docs/ref/general/kabanero-cli.html

[2019-11-05 16:37] #55 closed

[2019-11-05 16:47] bschrammIBM commented on #180
Should this wait until after kabanero release 0.4 on Dec 2? there are many updates to pipelines contained in that release.

[2019-11-06 14:29] mtamboli commented on #112
@SueChaplain I think it would be great to get help from collections team to make sure that we have documentation for various flows for collections.

[2019-11-06 15:59] marikaj123 commented on #167
@SueChaplain - According to the collection team modified the readme to point to the guide to remove any dup of info.  Let us know if you need any help to complete this issue.

[2019-11-06 16:41] davco01a commented on #153
merged

[2019-11-06 16:41] #153 closed

[2019-11-06 16:42] davco01a commented on #163
yes, @ralanlittle wants it

[2019-11-06 18:05] SueChaplain commented on #167
PR raised to remove the docs page: https://github.com/kabanero-io/docs/pull/184
PR merged but I believe changes won't be live until the next release (0.3.0)
I can see that @groeges has completed the changes in the collections repo - thanks!

@marikaj123 - I believe we can close this issue now, unless you want to leave it open until the release goes out and the Docs pages are refreshed? If not, ple

[2019-11-06 18:15] davco01a commented on #174
merged

[2019-11-06 18:15] #174 closed

[2019-11-06 22:15] #182 closed

[2019-11-06 23:29] marikaj123 commented on #167
@alohr51 - Pease close after the docs are published. Thank you.

[2019-11-06 23:31] marikaj123 commented on #166
Hi @Rwalls1 - Any status update on this issue?

[2019-11-06 23:35] marikaj123 commented on #160
@alohr51 - Andrew, can you help?

[2019-11-06 23:53] marikaj123 commented on #118
@SueChaplain - What else do we need such that we can complete the defect.

[2019-11-06 23:58] marikaj123 commented on #102
@KyeMaloy97 - Is the issue ready to close?

[2019-11-07 00:05] marikaj123 commented on #112
@SueChaplain - Is this for release-0.3? If yes, then please add the label and let us know if we need to engage the collection team for help.

[2019-11-07 03:18] alohr51 commented on #167
@marikaj123 this should close when the PR associated with it is merged.

[2019-11-07 03:19] alohr51 commented on #160
What do you need help with?

[2019-11-07 08:45] SueChaplain commented on #102
@marikaj123 - we need to apply changes identified by Alan and Nate from their review of the MicroProfile guide. I'm working through this.

[2019-11-07 11:15] SueChaplain commented on #118
@marikaj123 - We have Che installed and working now, so we're able to start creating the guide to describe how to build an app with the MP collection in Che. It's all new to us, so we might need to reach out for some dev support to get this done for 0.3.0 ..... will keep you up to date.

[2019-11-07 11:18] SueChaplain commented on #112
@marikaj123 - I don't think this will be possible for the 0.3 release. I'm not even sure what the guide should contain. Per comment 2 day ago:

[2019-11-07 11:41] SueChaplain opened #187 "Document collection build environment variables"
Create reference topic in the Docs to cover all the collection environment variables that can be used when building collections.

[2019-11-07 12:08] SueChaplain opened #189 "Remove duplicate content: Kabanero Collections Overview"
The following topic in the Reference section can possibly be removed when docs 0.3.0 goes live, because we will have a new Overview section that also describes Kabanero Collections.

Existing topic: https://kabanero.io/docs/ref/general/collection-management.html

New topic is architecture-overview.adoc, content of which is currently showing in this guide: https://kabanero.io/guides/overview/  ...

[2019-11-07 12:11] SueChaplain commented on #189
@stephenkinder

- Is there anything in the original topic that is not clearly represented in the new Overview (we can update it)?
- Do you agree to the removal of the topic please?

[2019-11-07 13:14] SueChaplain commented on #165
@alohr51

Will it look odd that we don't have anything in the Kabanero Basics - Let's get started area?
Perhaps we should leave it there until we have other general guides to contribute.

@bschrammIBM ? I thought it was perfectly fine as a guide (meets your criteria), but since it is being moved, do we have anything else to fill the hole?

[2019-11-07 13:28] SueChaplain opened #191 "Add ability to order subtopics in Docs"
With the next release we will have 4 categories of Docs: Overview, Installation, Configuration, and Reference. Currently there is no way of ordering the topics within these categories, which means that we cannot create a reading order that makes sense.

E.g.

Configuration: (next release)

![config](https://user-images.githubusercontent.com/18395037/68393093-23aaaf00-0163-11ea-8f04-6e409e596d66.pn

[2019-11-07 13:51] dmuelle commented on #159
@kvijai82 @stephenkinder
Need guidance on how to update the doc and whether to add a section about creating a service account. Let me know what I can do to move this forward. Thanks

[2019-11-07 16:41] mingcyu commented on #38
@ralanlittle Alan, is this issue still needed given that it will be replaced per discussion above?

[2019-11-07 17:30] bhatsuresh commented on #112
@marikaj123 stuff like this should go back to the architect to delegate or assign to someone in that component area. In this case it sounds like Collections...and if I am guessing correctly that would either be Ian

[2019-11-07 17:58] jantley-ibm commented on #160
@alohr I think all I need is an example of the actual command that runs all of the scripts, and the location(s) where the data is stored.

[2019-11-07 18:28] dianak2016 commented on #118
@SueChaplain please work with @makandre from Codewind for help.  @gecock has a test scenario for 0.3.0 which depends on this documentation.  Ideally, the doc can be made available before Greg's testing, but at this point the work will likely happen in parallel.

[2019-11-07 18:43] alohr51 commented on #160
@jantley-ibm I would see who wrote the script and ask them.

[2019-11-07 18:53] marikaj123 commented on #112
@bhatsuresh - I am asking if the issue requires release 0.3.0 for priority reasons.

[2019-11-07 19:21] makandre commented on #118
The docs for using Codewind on Che is here: https://www.eclipse.org/codewind/installoncloud.html

In particular, to create a Che workspace that has the Codewind components, you would do this:
[code]

(Above link is for the latest devfile.  I'll update with the `0.6.0` link once it's available in the next few days)

[2019-11-07 19:43] jantley-ibm commented on #160
Done, working on draft now

[2019-11-07 22:00] stephenkinder commented on #179
@jxadro does the guide Barbara pointed out address your concern?

[2019-11-07 22:03] stephenkinder commented on #180
@jxadro  I think we'll wind up with a Kabanero pipeline and pipeline task library, and a default best-practice set of pipelines that are burned into the default collection.  I agree we should have a guide for updating pipelines, and I think we can work on this as part of an upcoming Kabanero release.

[2019-11-08 13:28] Rwalls1 commented on #166
@marikaj123 These are comments I've received from Chris, I'll update the issue to reflect this info:
Document new logging/trace actions for OpenLiberty:
OpenLiberty containers send logs to EFK stack and optionally expose metric data for gathering by Prometheus. New actions use Kibana/Grafana dashboards to display these data.

OpenLiberty metrics is off by default and must be enabled both in the im

[2019-11-08 16:28] marikaj123 commented on #159
Actions:
- Vijai is working with David doc the install script

[2019-11-08 16:38] marikaj123 commented on #181
It is related to Service binding worked by Arthur and Kyle.

[2019-11-08 16:41] gecock commented on #181
For this issue we simply wanted to get an example of how to do this kind of thing out there as an example for people who are trying this out.

There is a larger design discussion to be had around making this easier, which should be contained in https://github.com/kabanero-io/collections/issues/160

[2019-11-11 17:06] kilnerm commented on #181
If this is covering how to do this today using maven dependencies then the documentation should be requested from the owner of the java-microprofile Appsody stack.

[2019-11-11 17:14] mtamboli commented on #181
I think this should be assigned to YK Chang.

[2019-11-11 18:09] SueChaplain opened #196 "Remove duplicate content: Using Kabanero Collections in Codewind"
The Docs reference topic (https://kabanero.io/docs/ref/general/codewind-kabanero-collections.html) is quite out of date and contains some inaccurate information:

- Codewind 0.3.0 is old now, we are on 0.5.0
- You no longer need to install the Appsody extension separately; Codewind does it all for you.
- There are references to Kabanero 0.1.0
- You can configure your Kabanero repo using the IDE UI

[2019-11-11 18:56] SueChaplain commented on #167
That PR was merged. So closing this issue.

[2019-11-11 18:56] #167 closed

[2019-11-11 19:36] kvijai82 commented on #159
I was able to create a custom role (w/o cluster-admin access) and associate that with a new SA that was used to successfully run the main pipeline.  I will clean up it bit and try to get that into the install script in the next day or two.

[2019-11-11 20:50] gecock commented on #181
@yeekangc ^^

[2019-11-12 15:57] SueChaplain commented on #176
Hi @kaczyns - I wanted to reach out to you about one of the topics you authored for the Docs area - https://kabanero.io/docs/ref/general/app-deploy-namespace.html

I'm doing some rationalising of what we have to remove duplication, move content around under the structure, plus a bit of editing.

I believe that this topic is still current and valid but hoped you would be able to run your eye over i

[2019-11-12 16:02] #187 closed

[2019-11-12 16:10] SueChaplain commented on #176
Hi @kaczyns  - as part of this work I wanted to move https://kabanero.io/docs/ref/general/collection-install.html to the Configuration section, alongside https://kabanero.io/docs/ref/general/app-deploy-namespace.html, as I think they are similar/work together. There is a PR https://github.com/kabanero-io/docs/pull/190 for this already, which I just add you as reviewer too.

[2019-11-12 18:44] makandre commented on #118
The `0.6.0` link is now available:

[code]

[2019-11-12 19:52] kaczyns commented on #176
@SueChaplain Hi Sue - that app-deploy-namespace topic is still current and valid.  You can change it up any way that you want to.  I think that a guide for this would be fine - I think that this page just represents one small piece of the puzzle that would be necessary for this flow, and I'm not really sure we have all of the pieces in place to have a cohesive guide here yet.

I will take a look a

[2019-11-12 19:59] jgawor commented on #176
some of my comments on the docs:
* remove https://kabanero.us-south.cf.test.appdomain.cloud/docs/ref/general/installing-kabanero-foundation.html#optional-sample-appsody-project-with-manual-tekton-pipeline-run from install doc or move it into its own doc.
* ensure that `Installing Kabanero Foundation` shows up first under `Installation`
* separate https://kabanero.us-south.cf.test.appdomain.cloud/d

[2019-11-13 07:43] kilnerm commented on #181
@marikaj123 This is not a collections issue so I have removed myself as owner. This needs assigning to the team who own the java-microprofile stack, I believe, as was noted in the previous two comments, that YK Chang (@yeekangc) is a good starting point.

[2019-11-13 15:27] yeekangc commented on #181
I see at least 2 parts to this:

1. Document the how today i.e. what has been done.  Perhaps @mtamboli and team can help working with the right Docs person (in a guide or whatever appropriate).

1. Longer term answer on how all these should fit together from the container image up to the template, the stack and the collection.  I can see gaps to close and integration issues to work out and may rel

[2019-11-13 15:42] marikaj123 commented on #159
Vijai created a doc this week. It is a new yaml file need to apply for install. This is short term solution by providing a sample. Later release work on the complete solution.

[2019-11-13 18:06] jantley-ibm commented on #165
@alohr do you need a separate issue to delete the heading and empty section if there are no guides for it? (per @SueChaplain 's comment above)

[2019-11-13 18:26] alohr51 commented on #165
@jantley-ibm no, the section would just not appear if there are no docs for it

[2019-11-13 18:49] jantley-ibm commented on #165
@alohr perfect, thanks!

[2019-11-13 19:16] SueChaplain commented on #176
@jgawor

I fixed a lot but will do another sweep to make sure I got them all. We also have git -> Git, and trademarking issues. These things are best addressed when we have the doc updated and ready to go as a final sweep.

There is no mechanism in the current build process to affect the ordering of subtopics (see #191). I think this is high priority, but not possible for 0.3.0.

There is likely t

[2019-11-14 01:54] mtamboli commented on #176
I saw with our [Java Microprofile guide](https://kabanero.io/guides/collection-microprofile/#configuring-appsody) (others will probably have similar issues) is that they commands are specific to a release.
For example, `appsody repo add kabanero https://github.com/kabanero-io/collections/releases/download/v0.1.2/kabanero-index.yaml`

I really do not want anyone to try that old version. So the inst

[2019-11-14 16:14] marikaj123 commented on #118
@makandre - is working with the ID team and SVT to complete the work.

[2019-11-14 16:43] SueChaplain commented on #118
@marikaj123 / @dianak2016

Status:

SVT have been attempting an install of Che on OCP 4.2 with help from Andrew. We have taken that dialogue as input to the guide, but this needs much more work to straighten out. I'm not optimistic that this can be ready for tomorrow, but because this is going into the "Guides" area and not "Docs" there is scope to publish this after GA without holding up the rele

[2019-11-14 17:56] kaczyns commented on #118
I am concerned that the draft guide referenced above is not using the Kabanero operator to provision Che.  The operator team was asked to provision the `CheCluster` instance.  You do this by setting `spec.che.enabled: true` in the Kabanero CR instance:
https://kabanero.io/docs/ref/general/kabanero-cr-config.html

If this is not how Che is going to be configured in Kabanero, please let me know so t

[2019-11-14 18:02] SueChaplain commented on #118
@makandre and @tamdinh - please see the basic draft and provide comments: https://github.com/kabanero-io/draft-guide-onboarding-with-che

[2019-11-14 18:13] marikaj123 commented on #159
PR included by Vijai on the repo, to merge this afternoon.

[2019-11-14 18:19] SueChaplain commented on #196
The plan had to change as the guide is not ready for publication. Instead, update this topic for accuracy and link to it from the Codewind install topic.

[2019-11-14 18:40] SueChaplain commented on #176
@jgawor

See PR https://github.com/kabanero-io/docs/pull/202

Separating the topic into 2 will be better when we can control the subtopic order, otherwise the 2 will end up separating in the TOC. Instead I added some links into the topic to help users navigate between VS Code and Eclipse. I've also added links to the configuring topic, which also needed updating as it had a lot of inaccuracies in

[2019-11-14 19:49] #160 closed

[2019-11-14 19:59] jantley-ibm commented on #172
This was fixed by #197

[2019-11-14 19:59] #172 closed

[2019-11-15 13:25] marikaj123 commented on #159
Have both doc & code PRs ready, finishing up final testing before merging today.  Thereafter we will need the operator @kaczyns to pick up the changes in the next respin.

[2019-11-15 14:06] Rwalls1 commented on #166
@marikaj123 Doc blocked waiting for Kabanero guide to get published: https://github.com/kabanero-io/guide-app-logging

[2019-11-15 14:25] #196 closed

[2019-11-15 15:29] #189 closed

[2019-11-15 15:34] dmuelle commented on #159
doc PR at https://github.com/kabanero-io/docs/pull/203

[2019-11-15 15:59] johnmcollier commented on #118
Echoing the conerns @kaczyns has, the draft guide should be using the Kabanero operator to configure the CheCluster instance (via `spec.che.enabled: true`), and not with Chectl.

[2019-11-18 09:26] SueChaplain opened #204 "Write a Guide for "Using the NodeJS Collection""
Extending issue https://github.com/kabanero-io/docs/issues/48, to break out issues for each of the Node.js collections.

This issue is to write a guide for the base Node.js collection.

- guide must be identical to the MicroProfile and Spring Boot guides already published, replacing the elements unique to this collection.

[2019-11-18 09:27] SueChaplain opened #205 "Write a Guide for "Using the NodeJS LoopBack Collection""
Extending issue https://github.com/kabanero-io/docs/issues/48, to break out issues for each of the Node.js collections.

This issue is to write a guide for the Node.js **LoopBack** collection.

- guide must be identical to the MicroProfile and Spring Boot guides already published, replacing the elements unique to this collection.

[2019-11-18 10:05] SueChaplain commented on #48
Following review with Nathan, this guide needs a re-write. It should be identical to the MicroProfile and SpringBoot guides that are currently published.

- remove VS Code / Codewind instructions / images / explanations
- base it on using Appsody CLI

Also, Nathan wants a guide for every collection. So that means 3 guides for each of the Nodejs options: base, Express, and Loopback.

This guide cov

[2019-11-18 15:19] #38 closed

[2019-11-18 15:19] mingcyu commented on #38
Closing issue as no strong opinion. Please reopen if needed

[2019-11-18 15:22] mingcyu commented on #112
@groeges @kvijai82 Which release should this be included in?

[2019-11-18 20:13] davco01a opened #208 "Need a simple website page to explain how to authorize CLI service"
we need to break out step 4 into its own page for how to authorize the Kabanero CLI Service:

https://github.com/kabanero-io/docs/blob/master/ref/general/collection-install.adoc

[2019-11-18 20:20] davco01a commented on #208
Will need to change step 3 of:

https://github.com/kabanero-io/docs/blob/master/ref/general/kabanero-cli.adoc

to point to this new authorization page
WIll greatly simplify what the customer has to read

[2019-11-18 22:48] marikaj123 commented on #166
@Rwalls1 - Guides they do have their own schedule.  @alohr51 - Any suggestion?

[2019-11-18 23:00] alohr51 commented on #166
app logging guide is published https://kabanero.io/guides/app-logging/

[2019-11-19 17:32] gecock commented on #159
The doc and new SA have been verified. Closing.

[2019-11-19 17:32] #159 closed

[2019-11-20 15:15] SueChaplain opened #212 "Evaluate common strings used across Docs and Guides"
Discover which docs (and guides) have references to Kabanero versions and require updates each release:

- can we replace these references with more generic terms. E.g. `<latest version>` plus an example string like `https://github.com/kabanero-io/collections/releases/download/0.3.0/kabanero-index.yaml`, where `<latest version>` is 0.3.0
- how many other references to versions are we using across

[2019-11-20 16:20] jantley-ibm commented on #212
We should also note if there are instances of strings that should not be automatically updated each release -- for example, perhaps a particular version number indicates the last tested release of something.

[2019-11-20 18:13] davco01a commented on #163
they can work with me

[2019-11-21 13:51] SueChaplain commented on #102
@alohr51 - do I need to do anything further for this to be published. I added "ready to publish" label. Thanks!

[2019-11-21 15:05] dmuelle commented on #56
@aadeshpa & @kvijai82  are working on updates to address custom collections- I'll review and edit again when when they're done.

[2019-11-21 15:35] mtamboli commented on #56
I think this guide should be useful to Champ who is trying to to customize pipelines for its collections. I am running that scenario now and missing below information. Here are the pieces which are missing and are specific to how we build our Collections.

1. How do I customize pipelines so that they override common pipelines. You need a directory under specific collection. Should it be named defa

[2019-11-21 17:58] dmuelle commented on #56
@mtamboli I believe some of this is being addressed in @aadeshpa fork- see this PR

https://github.com/aadeshpa/draft-guide-working-with-pipelines/pull/1

[2019-11-21 18:46] kvijai82 commented on #56
@mtamboli good points. I will try to update the guide with those.

[2019-11-21 21:37] #163 closed

[2019-11-25 10:58] KyeMaloy97 commented on #102
Guide has been added to the site, so closing this issue 👍

Avaiable at https://kabanero.io/guides/microprofile-eclipse-codewind

[2019-11-25 10:58] #102 closed

[2019-11-25 19:03] marikaj123 commented on #165
@jantley-ibm or @alohr51 - Is there any pending work that needs to be done or is it ready to be closed?

[2019-11-25 19:20] j-c-berger commented on #168
closing this issue the guide is now published! And yes, the guide went under Alan Little's and Nate Ziemann's review.

Link to published guide: https://kabanero.io/guides/guide-codewind/

[2019-11-25 19:20] #168 closed

[2019-11-25 19:20] alohr51 commented on #165
I just renamed it and archived the repo https://github.com/kabanero-io/draft-guide-overview so it doesn't show as a guide anymore.

[2019-11-25 19:20] #165 closed

[2019-11-25 19:35] SueChaplain commented on #48
@alohr51 - this guide approved and now ready to publish.
Website team are admins on the repo. Thank you!

[2019-11-25 19:57] alohr51 commented on #48
Our setup uses Kramdown, it might be possible https://kramdown.gettalong.org/documentation.html

[2019-11-25 20:00] alohr51 commented on #48
published at https://kabanero.io/guides/collection-nodejs-express/

[2019-11-25 20:00] #48 closed

[2019-11-25 23:10] anneqm opened #220 "broken links in document titled Connecting Kabanero to GitHub with Tekton Webhooks"
In this document, https://kabanero.io/docs/ref/general/tekton-webhooks.html, there are two hotlinks that result in a 404 error page:
1. first paragraph, `Tekton pipeline` hotlinks to
https://github.com/kabanero-io/kabanero-pipelines/tree/Readme-updates#kabanero-pipelines, which gives a 404 error.
2.  section titled, "Create a persistent volume" ,  hotlink `Creating a persistent volume` hotlinks to

[2019-11-26 09:20] SueChaplain commented on #43
@alohr51 - this guide is now ready to be published: https://github.com/kabanero-io/draft-guide-use-appsody-cli

Alan approved and I checked that the website team have `admin` for the repo. Thanks!

[2019-11-26 14:29] SueChaplain opened #221 "Reduce unnecessary content"
https://kabanero.io/docs/ref/general/github-createteam.html.

This topic seems out of place in the Kabanero docs. It describes how to set up a team in GitHub, which is well documented here: https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/creating-a-team

There is nothing in the topic that relates it to a task with Kabanero.

Suggest we update https://kabanero.io/d

[2019-11-26 17:59] SueChaplain opened #222 "Remove content duplication: Working with Collections in VS Code or Eclipse"
https://kabanero.io/docs/ref/general/codewind-kabanero-collections.html

Early topic can now be removed as we have more than one guide that covers working with collections in IDEs. For example:

- [Getting Started with Codewind and Kabanero](https://kabanero.io/guides/guide-codewind/)
- [Developing with Kabanero Collections in your Eclipse IDE](https://kabanero.io/guides/microprofile-eclipse-codew

[2019-11-26 18:05] SueChaplain opened #223 "Remove content duplication: Appsody Hello World on Codewind"
https://kabanero.io/docs/ref/general/hello-world-appsody-codewind.html

Early topic, partly duplicated by Try It!, but we also a couple of guides available that provide more extensive information:

- [Getting Started with Codewind and Kabanero](https://kabanero.io/guides/guide-codewind/)
- [Developing with Kabanero Collections in your Eclipse IDE](https://kabanero.io/guides/microprofile-eclipse-co

[2019-11-26 18:12] SueChaplain commented on #176
@mtamboli

I created #212 to see what there is across Docs / Guides and see how we might tackle this problem and reduce maintenance.

[2019-11-26 18:17] SueChaplain commented on #222
@Jhschube - I looked in to the history and identified this as a contribution you made. Are you happy for this content to be removed please? Nothing wrong with it - it served its purpose well whilst other content was pulled together.

[2019-11-26 18:20] SueChaplain commented on #223
@Jhschube - another early topic. This one actually a little out of date as the Appsody extension now gets installed by Codewind. Anyway, proposing to remove this now that we have guides covering codewind in more detail. Please confirm you are ok with this.

[2019-11-26 18:27] SueChaplain opened #224 "Break out workflows from the overview topic"

[2019-11-26 18:38] SueChaplain commented on #224
@nastacio - please comment. I'd like to see your (excellent) topic laid out in a better format for the Docs area.

[2019-11-26 21:57] anneqm opened #225 "Update tekton-webhooks doc to add instruction on how to delete webhooks"
Add section to document 'https://kabanero.io/docs/ref/general/tekton-webhooks.html" to describe how to delete previously created webhooks. 

This documentation is needed because when the next version of Tekton Dashboard and Webhooks extension is released and picked up by Kabanero.io, existing customers on the previous version must delete existing webhooks before uninstalling or upgrading the previ

[2019-11-27 15:10] marikaj123 commented on #181
@yeekangc - any idea who need to work on this issue beside an ID person?

[2019-11-27 21:56] yeekangc commented on #181
If this needs to be documented now, my suggestion is to update what is needed based on what @mtamboli has worked out.

Going forward, at least for the Liberty/MicroProfile stack, this shall be part of the answer to https://github.com/appsody/stacks/issues/521.  When https://github.com/appsody/stacks/issues/521 is resolved, the stack can have documentation that Kabanero documentation can then refer

[2019-12-02 09:36] SueChaplain commented on #221
@davco01a - I raised this issue last week and traced it as a requirement back to you. Please can you read through the description and raise any concerns about the proposed changes. Thank you.

[2019-12-02 09:51] SueChaplain commented on #212
List of topics that contain version specific information and proposed action:

1. **Installing Kabanero Foundation**: 1 instance that has to stay for now (In 0.3.0 we are using OCP instead of OKD), 3 further instances of version 0.3.0 where we could substitute `<version>` with an explanation for how to find the latest version info.
2. **Uninstalling Kabanero Foundation**: 1 instance where we could

[2019-12-02 14:54] marikaj123 opened #228 "Create a design template sample provided by ID and SVT."
Create a template to be used by developers and provide the relevant information to SVT and ID

[2019-12-02 15:03] mingcyu commented on #50
Live on Kabanero site. Closing this issue

[2019-12-02 15:03] #50 closed

[2019-12-02 15:04] mingcyu commented on #57
Live on Kabanero site. Closing this issue

[2019-12-02 15:04] #57 closed

[2019-12-02 15:06] mingcyu commented on #166
@alohr51 Can you confirm if this is the guide that was published and can we close this issue if so?

[2019-12-02 15:08] marikaj123 commented on #191
@kidus60 - Please provide us with the status on this issue?

[2019-12-02 15:16] mingcyu opened #227 "Guide for Working with Collections within an authenticated environment"
This will track the work needed for Work Item #166

[2019-12-02 15:17] mingcyu commented on #227
Sue to chat with Steve Groeger to see what release this will being in

[2019-12-02 15:19] mingcyu commented on #204
Sue is working with local team to code the sample, no need to talk to Collection's team at the moment

[2019-12-02 15:20] mingcyu commented on #205
Sue is working with local team to get working sample code

[2019-12-02 15:26] mingcyu commented on #222
Decision on call 12/2 to remove content

[2019-12-02 15:27] mingcyu commented on #223
Decision made on call to remove as information is duplicated and incorrect

[2019-12-02 15:29] mingcyu commented on #224
@nastacio Would like to get your feedback on the topic layout

[2019-12-02 15:52] alohr51 commented on #166
@mingcyu see comment above https://github.com/kabanero-io/docs/issues/166#issuecomment-555250067

[2019-12-02 16:32] SueChaplain commented on #212
Created PR https://github.com/kabanero-io/docs/pull/229 to address the Foundation install/uninstall topics.

[2019-12-02 16:39] kidus60 commented on #191
@marikaj123 I have submitted a pull request for the issue on both the website and docs repo, just waiting on a review.

[2019-12-02 17:57] SueChaplain commented on #223
PR: https://github.com/kabanero-io/docs/pull/230

[2019-12-02 17:57] SueChaplain commented on #222
PR: https://github.com/kabanero-io/docs/pull/230

[2019-12-02 20:52] #222 closed

[2019-12-02 20:52] #223 closed

[2019-12-02 22:29] tam512 commented on #118
The steps to enable Che via kabanero CR are documented in my testcase https://github.ibm.com/IBMCloudPak4Apps/icpa-system-test/issues/102#issuecomment-16136685

[2019-12-03 09:14] SueChaplain opened #231 "Determine categories for Guides"
At the moment we have 2 categories; basic and collections. The consequence of this is that we have some fairly heavy-weight guides appearing in the "Basics - let's get started" area. We need to come up with a minimal set of categories that allows us to filter the guides in a reasonable manner.

There could be different approaches to this, which we can discuss.

For example:

- break down by task /

[2019-12-03 09:15] SueChaplain commented on #231
@marikaj123 - I think we could try and fix this for 0.4? Do you agree?

[2019-12-03 11:46] SueChaplain commented on #204
New repo created: draft-guide-collection-nodejs with ID team and Website team permissions.
Created an initial draft, which gets as far as "Creating and updating your application". Pushed to repo.

@davehobbs - ready for sample app creation.

[2019-12-03 12:26] SueChaplain commented on #205
Created new repo for guide: draft-guide-collection-nodejs-loopback and set team permissions for ID and website.
Pushed an initial draft of the guide.

- project layout needs further descriptions
- Changes required for "Creating and updating your application" and later sections, when we have sample source.

@davehobbs  - ready for sample source.

[2019-12-03 16:51] alohr51 commented on #43
Guide is published https://kabanero.io/guides/use-appsody-cli/

[2019-12-03 16:51] #43 closed

[2019-12-03 16:52] alohr51 commented on #141
Overview category is in place on kabanero.io

[2019-12-03 16:52] #141 closed

[2019-12-03 18:55] #208 closed

[2019-12-03 21:15] alohr51 commented on #118
@SueChaplain @davehobbs Is there anything blocking this guide from being updated with Tim and Johns comments above?

I feel like this is an important guide to get out there since 0.3.0 has been released for awhile now

[2019-12-03 22:49] bschrammIBM commented on #118
I think the Che Guide is on hold, per the following email from Alan L.

"A decision was made yesterday to rremove Che, from the ICPA 4.0.0 release, there is a draft guide that should not go forward.  I should be repurposed, when we pickup CodeReady Workspaces in a followon release.  CodeReady is a RH branded Che.

If there is other doc that talks about the Kabanero branded Che, we need to remove t

[2019-12-04 14:02] deboer-tim opened #233 "Create a guide for using Nexus Repository with Appsody"
Create a guide showing how to customize Appsody stacks with Maven and NPM content to integrate with Nexus Repository.

Draft content is in box: https://ibm.ent.box.com/notes/566378512827?s=hxk1zlcfh3l2210on98e74qgwk7gjwl6

[2019-12-04 20:58] jantley-ibm opened #234 "Broken link on PV setup"
@gecock commented on [Fri Nov 22 2019](https://github.com/kabanero-io/kabanero-website/issues/300)

#### Describe the bug
There is a broken link on this page -- https://kabanero.io/docs/ref/general/tekton-webhooks.html for [Creating a persistent volume](https://github.com/kabanero-io/kabanero-pipelines/tree/Readme-updates#create-a-persistent-volume)

#### Expected behavior
I get linked out to the

[2019-12-04 20:58] jantley-ibm commented on #234
dupe of #220

[2019-12-04 20:58] #234 closed

[2019-12-05 11:47] SueChaplain commented on #118
@gecock @makandre @alohr51

OK, so we have a draft of the guide available for a technical review. Dave has done the best job he can on this with the information provided. What has held us up is attempting to install/configure a local environment to verify the steps. We felt this was necessary to help orientate the user and pad the instructions with information that helps the workflow. There are st

[2019-12-05 19:29] #220 closed

[2019-12-05 23:23] s1cyan opened #236 "Add a brew install line for Kabanero CLI"
There is now a tap working for the kabanero command line.
As an alternative to pointing to the release page to download the binary  can we get an extra line in the Kabanero CLI doc with the little copy button for the cli install?

`brew install kabanero-io/kabanero/kabanero`

Thanks!

[2019-12-05 23:28] bschrammIBM commented on #118
@ralanlittle stated in an email "I do not think we should be putting out the guide at this point,  a decision on what will be our upstream for CodeReady will come out next week..."

[2019-12-06 00:35] yamachan opened #237 "Translation of Kabanero Docs"
Hi,

This is just a consultation. I love Kabanero, and personally translated some contents into Japanese, for example;
https://qiita.com/yamachan360/items/7b4a53758ecdbe876a5f
https://qiita.com/yamachan360/items/1550887f76f3a0a8f47d

I would be happy if I could contribute officially. Do you have any plan to accept translated contents?

For your reference, in another project, translated contents we

[2019-12-06 12:47] SueChaplain commented on #118
@dianak2016 ...... above comment is at odds with your view.

[2019-12-06 14:31] dianak2016 commented on #118
Alan's comment takes precedence here.  Let's hold then.  Thanks

[2019-12-06 17:54] bschrammIBM commented on #233
Email from @deboer-tim
I will ask him to create the text in Markdown in a repo called draft-<etc> to help move the process along.
@jantley-ibm @mingcyu Can you provide a date for when this Guide can be published (once it is in Markdown?)

[code]

[2019-12-06 18:16] bschrammIBM commented on #233
@sghung is going to start the process by following the instructions here: https://github.com/kabanero-io/draft-guides-template and creating the Guide in Markdown.

[2019-12-06 18:44] jantley-ibm commented on #233
@deboer-tim the process for creating, polishing, reviewing and approving guides is here: https://apps.na.collabserv.com/wikis/home?lang=en-us#!/wiki/a5685d39-296b-43d3-99e9-5f947788ace7/page/f82fbde8-e182-4307-901f-1483fb6f0cb0/version/4163d610-c69b-4a71-882b-141226492074

Guides can be published to production whenever final approval is received, they are not tied to releases

[2019-12-06 20:49] csantanapr commented on #233
I review the box note draft the NPM/node.js portion and here is my feedback.

Review comments (NPM portion only):
The guide is not using best practice to protect secrets/passwords.

The .npmrc file containing secrets and maybe sensitive (ie IP) config is leaking in two places.
1. checking the .npmrc contents with the actual values into git
2. the final container image in production will have a cop

[2019-12-09 14:50] dmuelle commented on #225
Hi @anneqm - who can provide the technical information for removing a webhook? I'll do the ID work but I need a draft of the process. This subject isn't covered in the [Webhooks getting started](https://github.com/tektoncd/experimental/blob/master/webhooks-extension/docs/GettingStarted.md)
Thanks!

[2019-12-10 11:43] henrynash opened #240 "CLI docs do not warn about incompatible versions of the cli pod"
For users wanting to install the kabanero CLI, the instructions are here: https://github.com/kabanero-io/docs/blob/master/ref/general/reference/kabanero-cli.adoc

However, there is no discussion/warning that the CLI major version must match the version of the cli pod running.  For instance, the IBM CP4A uses kabanero 0.2.x, but references the standard kabanero docs - which imply the best thing is

[2019-12-10 19:13] marikaj123 opened #241 "Provide doc for "Bug: Webhook not created in github even though Tekton says it is successful.""
The following info was provided by Monica:
--------------------------------------------
This is what Adam provided in issue 130. I just updated the title. Below helps to diagnose the problem and the @jgawor instructions help in resolving the issue. We need to merge them so that if user gets into this situation, they can debug and resolve it. Please create a draft of these merge and we can verify t

[2019-12-11 14:17] SueChaplain commented on #191
@alohr51 - can this be closed now?

[2019-12-11 14:37] SueChaplain commented on #221
@davco01a - have you had a chance to review this yet please?

[2019-12-11 15:58] alohr51 commented on #191
@SueChaplain yup

[2019-12-11 15:58] #191 closed

[2019-12-11 16:36] jantley-ibm commented on #240
@davco01a could you comment and/or suggest changes to doc (in particular, the comment in the last sentence above)?  I can make the actual updates -- thanks

[2019-12-11 19:08] #236 closed

[2019-12-11 22:04] dmuelle commented on #225
@anneqm PR for this update- let me know if it needs changes
https://github.com/kabanero-io/docs/pull/246

one minor thing to confirm- you select a webhook from the list b y clicking a box beside the webhook name? That's what it looks like but since it's already selected in the screenshot that I had I just wanted to confirm that- Thanks

[2019-12-12 20:50] anneqm commented on #225
@dmuelle Yes, as we discussed, that's exactly right. I reviewed and agree with the associated PR https://github.com/kabanero-io/docs/pull/246 but am unable to approve it.   Who else can approve?

[2019-12-12 20:56] dmuelle commented on #225
@jantley are you authorized to approve this PR? It's SME approved but if you think it needs anything else from an ID perspective just let me know. Adds a section for deleting a webhook...

https://github.com/kabanero-io/docs/pull/246

[2019-12-12 20:57] dmuelle commented on #225
Ok- thanks @jantley-ibm , changes are merged

[2019-12-12 20:58] dmuelle commented on #225
@anneqm does this need anything further or are we clear to close this issue?

[2019-12-13 14:53] #241 closed

[2019-12-13 15:31] Charlotte-Holt commented on #181
@yeekangc @kilnerm Does this need to be updated in the Eclipse MP guide (https://kabanero.io/guides/collection-microprofile/)?

[2019-12-13 16:18] yeekangc commented on #181
I believe so.  @mtamboli, do you have an opinion?

[2019-12-13 17:16] mtamboli commented on #181
Yes, It would be helpful to document in the guide on how someone will get their database drivers added to the docker image. @nastacio do you think we can link to your guide from Java - MP guide for further details?

[2019-12-13 22:27] nastacio commented on #181
I think that part of the tutorial needs no be formalized by stack owner first. If that workaround is indeed the design we want, then it would be moved to the guide.

[2019-12-14 12:46] yeekangc commented on #181
I will defer the call to update the documentation/tutorial/guide now or later to the Kabanero team or the respective owner(s).  We do have an item in the backlog to look at this for the java-microprofile/openliberty stack and work out the strategic answer.  No ETA for that yet but I don't expect it to come tomorrow.  The respective team(s) can consider what is appropriate in the mean time.  What w

[2019-12-16 20:21] sghung commented on #233
@csantanapr thank you for your comment, I have addressed the issue in the NPM scenario and the credentials can be added by the developer and won't be in the final runtime image.

For the Maven scenario, I have stopped the final runtime image from having the settings.xml. The settings.xml cannot be removed from the inner loop development stage as Maven is called many times and requires this setting

[2019-12-17 17:28] anneqm commented on #225
@dmuelle I think we are fine to close this issue.  The updated guide has been published with the new information.  https://kabanero.io/docs/ref/general/configuration/tekton-webhooks.html  Thanks!

[2019-12-17 17:41] #225 closed

[2019-12-18 13:12] SueChaplain commented on #204
This guide is now ready for review. PR raised for review by @ralanlittle or @nateziemann .

[2019-12-19 09:12] SueChaplain commented on #204
Ready to publish.

[2019-12-20 20:57] sghung commented on #233
The PR is ready for review: https://github.com/kabanero-io/draft-guide-nexus-repository-integration-with-appsody/pull/1

[2020-01-02 19:16] alohr51 opened #248 "0.4.0 docs reference 0.3.1"
on https://kabanero.io/docs/ref/general/installation/installing-kabanero-foundation.html

the installation references 0.3.1 and should be referencing 0.4.0 or maybe even just "latest" tags for GitHub if that works well enough (although sometimes i've seen the latest tag not actually be the latest release, just the most recent one)

[2020-01-03 17:00] DanielChuDC opened #251 "Enhance the instruction in kabanero website for install manually"
So the scenario like this:

I have OCP 4.2 cluster an I try install kabanero and I follow instruction on https://kabanero.io/docs/ref/general/installation/installing-kabanero-foundation.html and not sure step 5 how to proceed.
<img width="1112" alt="image" src="https://user-images.githubusercontent.com/52316624/70638830-7e5c8c80-1c74-11ea-9441-a40e88cf35ac.png">

Since I never do step 5, I cannot

[2020-01-03 17:01] kSee04 commented on #251
@jantley-ibm tagged for visibility

[2020-01-03 17:02] kSee04 commented on #251
Transferred this issue from `kabanero-website` repo to `docs` since this is an issue with doc content.

[2020-01-03 17:10] #248 closed

[2020-01-03 18:48] dmuelle commented on #56
@marikaj123 @jantley-ibm we have incorporated @aadeshpa & @kvijai82 updates for this doc and it is awaiting final review in this PR

https://github.com/kabanero-io/draft-guide-working-with-pipelines/pull/13

[2020-01-06 08:53] SueChaplain commented on #204
Guide published. Closing

[2020-01-06 08:53] #204 closed

[2020-01-06 08:54] SueChaplain commented on #205
Guide published. Closing.

[2020-01-06 08:54] #205 closed

[2020-01-09 16:05] mingcyu commented on #166
@Rwalls1 The blog that was blocking this is published, so we should be able to make progress now

[2020-01-09 16:16] mingcyu commented on #212
Use this issue to create a "release" issue for each release so we know what we need to manually change so that text from code blocks would cease to function. This is a temporary solution until we can find a more technical/automated solution

How about adding a version= latest to help with versioning issue

Sue suggest that we bring this up to wider group (kabanero-scrum) and will start it next wee

[2020-01-09 16:24] mingcyu commented on #179
Close due to inactivity and assume that the link mentioned above satisfies the issue

[2020-01-09 16:24] #179 closed

[2020-01-09 18:41] davco01a commented on #240
covered bye https://github.com/kabanero-io/kabanero-command-line/issues/155

[2020-01-09 18:41] #240 closed

[2020-01-13 16:26] scottkurz commented on #181
Latest discussion [here](https://github.com/OpenLiberty/ci.maven/issues/705).

[2020-01-13 18:52] dmuelle commented on #56
This doc has been reviewed by Alan and approved for publication via this PR

https://github.com/kabanero-io/draft-guide-working-with-pipelines/pull/13

[2020-01-13 20:05] dmuelle commented on #56
Hold off from publishing per @kvijai82 - changes coming next iteration that will make some of the info obsolete

[2020-01-14 11:22] SueChaplain commented on #221
Pull request created to implement this change. Assigned to Jeff for review.

[2020-01-14 19:34] #221 closed

[2020-01-15 14:29] sghung commented on #233
I have added Alan Little and Nate Ziemann as reviewers. Thanks to Andrew Lohr for the original review. I will followup with both in the next couple of days.

[2020-01-20 16:25] alohr51 opened #256 "clarify there are 2 different ways to install kabanero in install doc"
Right now the install doc shows a scripted installation and a manual installation. On quick glance the format of the doc looks like you need to do both.

I suggest expanding on or changing the "_Alternatively, the install can be performed manually._" sentence in the [intro of installation section](https://kabanero.io/docs/ref/general/installation/installing-kabanero-foundation.html#installation) s

[2020-01-20 16:53] stephenkinder opened #257 "0.5.0 Tekton trigger changes not reflected in establishing a webhook."
There were changes related to Tekton triggers made in 0.5.0 that do not have documentation reflected.  The webhooks established before 0.5.0 will no longer work, they need to be reestablished.  There are differences in the way webhooks are established (requiring Tekton templates and bindings).

https://kabanero.io/docs/ref/general/configuration/tekton-webhooks.html

[2020-01-20 20:26] jantley-ibm opened #258 "Update /docs and guides for 0.5.0 version change"
Make sure /docs section mentions most recent version where appropriate (partial list in https://github.com/kabanero-io/docs/issues/212).

Make sure any Guides that can be updated are moved to the most recent version too.

[2020-01-21 14:29] SueChaplain commented on #258
Guides:

Collections guides:

- [ ] Nodejs-express https://github.com/kabanero-io/guide-collection-nodejs-express/pull/13
- [ ] Nodejs https://github.com/kabanero-io/guide-collection-nodejs/pull/4
- [ ] Nodejs-loopback https://github.com/kabanero-io/guide-collection-nodejs-loopback/pull/4
- [ ] java microprofile https://github.com/kabanero-io/guide-collection-microprofile/pull/25
- [ ] Springboot

[2020-01-21 15:21] alohr51 commented on #258
@SueChaplain we'll have to be careful updating the guides. I'm sure they were tested with tools at specific versions. If we just update the versions without retesting the guides, we could put out guides that are broken, which could lead to frustration by readers.

Whether we want to update the guides once every 2 months or every release they should probably be retested with the new version, which

[2020-01-21 15:28] SueChaplain commented on #258
@alohr51 - agreed. The ones I targeted are collections. App logging/monitoring and some of the others are tested on specific versions. Jeff and I discussed and these are left alone.

[2020-01-21 16:15] jantley-ibm commented on #256
Fixed in #258
Let me know if you think more is still needed.  I tried to downplay the manual install over the scripted, but I still am not comfortable making recommendations in technical doc.

[2020-01-21 16:26] alohr51 commented on #256
@jantley-ibm which PR in that issue is it? I'm having trouble finding it since that issue looks like its for guide updates.

[2020-01-21 16:45] jantley-ibm commented on #256
@alohr51 see https://github.com/kabanero-io/docs/pull/259/files

[2020-01-21 16:54] #256 closed

[2020-01-21 17:27] Charlotte-Holt commented on #173
Published at https://kabanero.io/guides/jenkins-integration-with-kabanero/

[2020-01-21 17:27] #173 closed

[2020-01-22 14:20] jantley-ibm opened #261 "Update docs/ref/general/whats-new.md for 0.5.0"
ID needs highlights from dev/pm

[2020-01-22 14:22] jantley-ibm opened #262 "Create blog post re: what's new in 0.5.0"

[2020-01-22 14:58] marikaj123 commented on #181
According to Scott:  Ann R. was notified via an email to help the team to put in place the "big picture" plan and the request is in her good hands.
As the big picture gets clear, then we could make decisions about smaller items like should this feature be updated in the java-microprofile stack, java-openliberty stack, or both.

[2020-01-22 16:59] anneqm commented on #257
In moving to this release of kabanero, previously established webhooks will need to be removed, and then recreated. Note the how to delete webhooks was already added to the document in advance of this release.
In addition, consider working in links to https://github.com/tektoncd/triggers/tree/v0.1.0/docs#tekton-triggers and perhaps https://github.com/tektoncd/pipeline/tree/v0.8.0/docs#tekton-pipel

[2020-01-22 20:26] anneqm commented on #257
@jantley-ibm and I met today, and also discussed including a point in the What's New doc to mention that previously established webhooks will need to be deleted and re-created with this upgrade.  Hotlink to the deleting a webhook instruction: https://kabanero.io/docs/ref/general/configuration/tekton-webhooks.html#deleting-a-webhook

[2020-01-23 18:53] dmuelle commented on #56
@kvijai82 says to go ahead and publish- we'll revise soon as changes come through

[2020-01-23 20:05] kaczyns opened #264 "Document configuration of CodeReady workspaces"
The kabanero-operator can configure codeready workspaces.  We need to document any buttons or switches that affect that configuration.

[2020-01-23 20:19] kaczyns commented on #264
Epic is kabanero-io/roadmap#127

[2020-01-24 02:01] nateziemann commented on #262
I’d be happy to review and help with final messaging, but someone else needs to take the pen on the release blogs

[2020-01-24 18:51] jantley-ibm commented on #262
Here's my very rough first draft of the what's new blog post for Kabanero 0.5.  I'm not sure everything is accurate, but it's a start.

-----------------------------

What's New in Release 0.5.0
Today we proudly present the next release of Kabanero, version 0.5.0. Check out the changes we have for you.

Tekton Triggers

Tekton Triggers are now supported in Kabanero eventing.  Kabanero pipelines no

[2020-01-26 07:13] nateziemann commented on #262
What's New in Release 0.5.0
Today we proudly present the next release of Kabanero, version 0.5.0. Check out the changes we have for you.

**Github OAuth integration**

From  the console you can now configure user GitHub OAuth authorization. This allows a user to log in with their GitHub ID and manage their collections through the Kabanero Console UI. Until now, a user can only view their collectio

[2020-01-26 07:14] nateziemann commented on #262
@stephenkinder please add  some of your technical mumbo jumbo above.

[2020-01-27 18:20] #261 closed

[2020-01-27 18:56] kaczyns commented on #262
I don't think we're declaring support for activating multiple versions of a collection in this release..... the operator knows how to do it, but the CLI and landing page don't know how to show the user that they've done it.

[2020-01-27 20:40] alohr51 opened #266 "Update documentation terminology"
we need to update our terminology in the docs according to the collections -> stacks design from https://github.com/kabanero-io/kabanero-foundation/blob/master/design/stackhub.md

While we're at it, terminology changes from Nate:
Appsody stacks --> application stacks
Tekton pipelines --> pipelines
Tekton Dashboard --> pipelines dashboard
Kabanero stacks --> application stacks
Kabanero pipelines --

[2020-01-27 20:42] alohr51 opened #267 "Update guides terminology"
we need to update our terminology in the guides according to the collections -> stacks design in https://github.com/kabanero-io/kabanero-foundation/blob/master/design/stackhub.md#kabanero-guides.

While we're at it, terminology changes from Nate:
Appsody stacks --> application stacks
Tekton pipelines --> pipelines
Kabanero stacks --> application stacks
Kabanero pipelines --> pipelines
Kabanero col

[2020-01-28 14:27] jantley-ibm commented on #258
closing

[2020-01-28 14:27] #258 closed

[2020-01-28 14:28] jantley-ibm commented on #257
pr merged, closing

[2020-01-28 14:28] #257 closed

[2020-01-28 16:44] nateziemann commented on #262
@ralanlittle @stevenschader please read above draft and help review for technical accuracy and help make it better.  I took a stab at enhancing what Jeff Antley started but in my humble opinion we still need some work to polish this.

[2020-01-29 08:43] stephenkinder commented on #262
Tekton trigger support in Kabanero enables execution of pipelines and tasks based on specific Github events. The lifecycle of microservice development is reflected by the developers interaction with Git.  Git pull, merge, tag, pull requests all reflect well-known points in that microservice's lifecycle.  Tekton triggers allows for fine-grained optimized tasks to be assigned to respond to those lif

[2020-01-30 20:55] dacleyra opened #270 "provide debugging tips for each component in the kabanero CR status"
Spin off from
https://github.com/kabanero-io/kabanero-foundation/issues/151

Provide information on how end user can look for and debug component failures.

@mtamboli

[2020-01-31 16:39] alohr51 commented on #262
@jantley-ibm @nateziemann Steve provided some more context, are we going to include a 0.5.0 blog or should we just do a small blurb on the pop up modal on the website (with no link to a blog)?

[2020-01-31 18:05] kaczyns opened #271 "Remove Knative eventing and service mesh from the manual install instructions"
For Kabanero 0.6.0, Knative Eventing is no longer required.  Service Mesh also no longer needs to be manually configured.  They are both referenced here in the manual install steps:
https://kabanero.io/docs/ref/general/installation/installing-kabanero-foundation.html

[2020-01-31 18:11] kaczyns opened #272 "Update Kabanero CR instance configuration for Stacks / Versions"
Both the conversion from collections to stacks, and the multi-version stack support, make updates necessary to https://kabanero.io/docs/ref/general/configuration/kabanero-cr-config.html.

We need to wholesale compare the Kabanero CRD to what's here, and make necessary changes.  Similarly, the Collection is replaced with Stack, so the Stack CRD should be compared against what is here now for Collec

[2020-01-31 18:17] kaczyns commented on #264
The manual Kabanero install instructions should also be modified to remove the part about installing the Che operator, and replaced with installing the Codeready Workspaces operator.

[2020-01-31 18:26] dacleyra commented on #270
This is the outline to get started on looking for information about sub-component failure.
As we encounter issues, we can expand this with: if you see x, then investigate/try y

[code]

[2020-01-31 19:20] marikaj123 commented on #271
@kaczyns - would the work be done by your team?  Do we need Id involvement?

[2020-01-31 19:22] marikaj123 commented on #270
@jantley-ibm - the help of your team may be required.  Thank you.

[2020-01-31 19:28] mtamboli commented on #270
@dacleyra This will be really helpful for the user. We can try to debug every time the problem happens and see if we can add anything to the debug doc.

[2020-01-31 19:41] marikaj123 commented on #270
@jantley-ibm - We would like to get this doc in Kabanero 0.6.0.  Thank you.

[2020-01-31 20:56] jantley-ibm commented on #271
@marikaj123 @kaczyns I am in the process of trying to make edits to this doc for branding and terminology, so I don't mind making the edit.  Is it a simple matter of just removing step 2 and the second sentence of step 1?

[2020-02-03 14:54] mingcyu commented on #212
Will need to include this as part of documentation revision effort

[2020-02-03 14:58] mingcyu commented on #212
Closing as we added this as an additional item to #267 and #266

[2020-02-03 14:58] #212 closed

[2020-02-03 14:59] mingcyu commented on #262
Jeff to work with Andrew today on moving this forward

[2020-02-03 15:19] mingcyu commented on #112
Since Collections are being replaced by Stacks this is no longer valid

[2020-02-03 15:19] #112 closed

[2020-02-03 15:26] mingcyu commented on #227
@mtamboli Is this item needed from a SVT perspective?

[2020-02-03 15:38] alohr51 commented on #56
This was published awhile ago at https://kabanero.io/guides/pipelines-getting-started/

[2020-02-03 15:38] #56 closed

[2020-02-03 15:54] mingcyu commented on #270
@kaczyns Would you like us to put this inline with the Kabanero CR Config sections(https://kabanero.io/docs/ref/general/configuration/kabanero-cr-config.html) or in the overall troubleshooting section?

[2020-02-03 16:07] kaczyns commented on #271
@jantley-ibm Yes that's correct - we remove the install of knative-eventing, and remove the reference of service-mesh from the serverless install instructions.

[2020-02-03 16:11] kaczyns commented on #264
hi @mingcyu - I don't feel I'm the right person to be driving this issue from the development side.  I don't understand how to use or configure Codeready Workspaces (or Che).  The operator provides some buttons and switches, which we can call out in the doc, but as far as what they do, someone from the Codewind team may need to help.

[2020-02-03 16:13] kaczyns commented on #270
@mingcyu I would prefer if this went into the general troubleshooting section.  The config section is already getting pretty long, and a lot of these errors are not directly related to configuration that the user can perform, but are more overall cluster-wide issues.

[2020-02-04 15:01] SueChaplain opened #274 "Removing collections: Address Environment Variables topic"
The current topic describes the environment variables that can be used when you are building Kabanero Collections. In the new design, Champ will use Appsody directly to customise and build Stacks.

Propose we remove this topic altogether as I am not aware of any other environment variables that are required, other than for building collections.

We are proposing a new guide for how Champ clones /

[2020-02-04 17:55] SueChaplain commented on #274
@mtamboli @gecock - are you aware of any other Kabanero components that have environment variables we should document? If not, I'm proposing to remove this topic, which contains the envvars for collection build. Thanks

[2020-02-04 18:20] SueChaplain commented on #267
There's been some recent discussion over when to use  **stack hub** when updating the guides. For the developers guides (developing microservices based on the xx application stack), we are referring only to "stack configuration", because all "Jane" really needs to know is that she adds a URL that contains an `index.yaml` config file to her local dev environment. This avoids any confusion if Champ

[2020-02-04 18:54] mtamboli commented on #274
@SueChaplain I am probably missing some context for this. Are you talking about removing environment variable from a guide or script?

[2020-02-04 18:55] SueChaplain commented on #267
FYI - and an opportunity to speak up if you don't agree.

We (Jeff, Andrew, and I) have been discussing what to do with the main guides that cover collections when collections are removed. Update / archive / delete? What considerations should we have for customers on older versions of Kabanero.

Long story short:

"Keeping around old guides will confuse people getting started with kabanero (since

[2020-02-04 19:06] SueChaplain commented on #274
Sorry @mtamboli - I'm talking about this topic: https://kabanero.io/docs/ref/general/reference/kabanero-env-vars.html

[2020-02-05 01:20] mtamboli commented on #274
Thanks @SueChaplain I am sure this will need to be updated but I have not see the new scripts so not sure which ones will stay. @groeges probably would be able to help on what need to be updated. It would nice to get draft of those documents during testing.

[2020-02-05 17:09] chirp1 opened #277 "terminology updates for guide-jenkins-integration-with-kabanero"

[2020-02-05 17:55] mezarin commented on #264
I had a chat with @johnmcollier about the documentation for this. He or someone else will be providing the documentation.
See the description section of this PR https://github.com/kabanero-io/kabanero-operator/pull/444 for kabanero installation details and notes.

[2020-02-05 17:59] johnmcollier commented on #264
I can help this, if someone can assign this to me.

Where in github.com/kabanero-io/docs do the doc changes for this need to go?

[2020-02-05 18:10] alohr51 commented on #264
@johnmcollier If this is new doc then you can create a new file under [ref/general/configuration](https://github.com/kabanero-io/docs/tree/master/ref/general/configuration) since this sounds like a configuration type of doc.

Also some guidelines are listed in the [docs readme](https://github.com/kabanero-io/docs#how-to-contribute-to-the-documentation)

[2020-02-05 18:13] alohr51 commented on #262
@jantley-ibm do you know if there is there a second rough draft ready for approval with Steve's comments added?

[2020-02-05 18:58] jantley-ibm commented on #262
@alohr I contacted Neeraj and David about the Appsody line but have not gotten a response yet.  Let's go with this if you're ready to publish:

**What's New in Release 0.5.0**

Today we proudly present the next release of Kabanero, version 0.5.0. Check out the changes we have for you.

**Github OAuth integration**

From the console you can now configure user GitHub OAuth authorization. This allows

[2020-02-05 22:17] anneqm commented on #262
Hi!  @jantley-ibm @stephenkinder Just saw this... The sentence, "Tekton triggers allows for fine-grained optimized tasks to be assigned to respond to those lifecycle events."  This capability of triggers described in that sentence is not leveraged in Kab 0.5.0.  I suggest either it be changed to a future statement or removed altogether.

[2020-02-06 15:19] kabanerogithub commented on #262
@anneqm is this sentence still true after that line is deleted?

[2020-02-06 15:20] alohr51 commented on #262
@anneqm is this sentence still true after the one you mentioned is deleted?

[2020-02-06 15:28] anneqm commented on #262
Yes!   that's the main reason we need to have statements around the addition of Triggers. That's the most important sentence!

[2020-02-06 15:30] #262 closed

[2020-02-10 13:34] SueChaplain commented on #274
@groeges - please can you confirm if there is any reason to keep any of the existing content. I thought it was all going?

[2020-02-10 18:15] chirp1 commented on #270
@kaczyns Tim is OK with the updates. Closing this issue...

[2020-02-10 18:15] #270 closed

[2020-02-10 18:16] johnmcollier commented on #264
Seems like PR https://github.com/kabanero-io/docs/pull/282, will address the configurable fields for CRW

[2020-02-11 17:14] kaczyns commented on #264
I want to be sure that there is some other documentation besides what is being done in #282.  I don't think #282 is enough for someone to be comfortable getting started working with CRW in Kabanero.

[2020-02-11 17:42] johnmcollier commented on #264
@kaczyns Ah okay, I thought this doc was just for the configurable fields for CodeReady in the Kabanero CR.

What were you thinking in terms of docs? Ideally we'd avoid duplication with the existing CodeReady and Codewind docs where possible, right? So do we just need docs for the Kabanero specific areas?

[2020-02-11 18:17] kaczyns commented on #264
I think that we need to guide someone in how to set up a CodeReady Workspaces workspace.  I know that if it were me, it would not be clear what to do.

For example this page:
https://kabanero.io/docs/ref/general/installation/installing-dev-tools.html

walks someone thru how to set up codewind in VS code or Eclipse.  None of this is Kabanero-specific yet we guide someone thru how to do it.  Even if

[2020-02-11 18:21] johnmcollier commented on #264
@kaczyns Sounds good, I can get to work on that

[2020-02-11 20:36] davco01a opened #285 "Doc changes in kabanero.io for Kabanero CLI 0.6.0"
Need Doc changes in kabanero.io for Kabanero CLI 0.6.0, especially around examples now that we have converted to stack hubs and multiple version support

Updates need to make it into:
https://kabanero.io/docs/ref/general/reference/kabanero-cli.html

[2020-02-11 21:18] davco01a commented on #285
new example output:

[code]

[2020-02-11 22:43] davco01a commented on #272
We need to cover default and nested pipelines too:

[code]

[2020-02-11 22:49] davco01a commented on #272
re: https://github.com/kabanero-io/kabanero-operator/issues/386

[2020-02-12 15:45] davco01a commented on #285
sync output:

[code]

[2020-02-12 15:46] davco01a commented on #285
LIST output with obsolete stack:

[code]

[2020-02-12 15:47] davco01a commented on #285
SYNC operation deleting obsolete stack:

[code]

[2020-02-12 17:30] jantley-ibm commented on #285
@davco01a I'm having trouble reconciling the latter two examples you provided with the cli doc.  Is the 'obsolete' state a replacement for the 'deactivated' state?  There is currently no discussion of a delete command, could you provide an example command and some explanatory verbage?

[2020-02-12 19:44] stephenkinder commented on #267
So one quirk is that Appsody takes `index.yaml` as its "stack hub" pointer, however Codewind takes `index.json`.

[2020-02-12 19:47] davco01a commented on #285
Sure we can add some explanation:

obsolete state is when a given Stack is no longer in the GitHub Curated Stacks list, but it still exists as a Kabanero Instance

When a stack is obsolete and a SYNC is performed that obsolete version of the stack will get deleted

[2020-02-12 19:53] davco01a commented on #285
kabanero deactivate stack-name version-number

[2020-02-12 19:54] stephenkinder commented on #118
@dianak2016 @SueChaplain So with 0.6.0, we delivered Code Ready Workspaces.  I think this guide is back in play.

[2020-02-12 19:57] davco01a commented on #285
e.g.

[code]

[2020-02-12 20:00] davco01a commented on #285
Also updated LIST w obsolete example above ( multiple versions too )

[2020-02-12 20:20] alohr51 opened #286 "Update install doc for 0.6.0"
Replace version numbers in the [install doc](https://github.com/kabanero-io/docs/blob/master/ref/general/installation/installing-kabanero-foundation.adoc) with 0.6.0

Also, its a hard requirement for OCP 4.3 or higher for 0.6.0 install. So replace OCP 4.2 with OCP 4.3

[2020-02-13 08:59] SueChaplain commented on #118
@davehobbs FYI ..... not sure if you can repurpose what you have or need to start from scratch.
@makandre .... are you our development contact for Code ready?

[2020-02-13 09:05] SueChaplain commented on #267
We are not proposing to remove the "Working with Codewind" guide that covers the developer experience with both the Eclipse IDE and VS Code, so users will be able to learn how to configure their environment to point to an `index.json` file. @j-c-berger is assigned to update this guide for the terminology changes.

[2020-02-13 14:11] johnmcollier commented on #118
@SueChaplain I'm the development contact for CodeReady Workspaces

[2020-02-13 15:41] SueChaplain commented on #118
FYI we are also talking to the Codewind doc team as they have some work on their backlog and we don't want to duplicate. We'll figure out the assignment between us.

[2020-02-13 16:54] j-c-berger commented on #267
@stephenkinder & @SueChaplain, I did a `contrl+F` on my guide, and there's neither mention of `index.yaml` nor `index.json`

If there _needs_ to be inclusion of `index.json`, then I certainly can include it, but as of now, there is no terminology issue since neither terminologies are used.

[2020-02-13 17:19] yamachan commented on #237
someday somewhere.

[2020-02-13 17:19] #237 closed

[2020-02-13 18:22] chirp1 commented on #264
Discussed with Jeff @jantley-ibm . Since the doc is relates to the Codeteam, I'm reassigning the issue to Jake.

[2020-02-13 18:34] j-c-berger commented on #264
@chirp1, sounds good, thanks!

[2020-02-13 19:15] SueChaplain commented on #267
Hi @j-c-berger - I hadn't appreciated that your guide does not explain how to add customized stacks (earlier "collections") into the Codewind configuration. We were going to archive this guide, which does provide this explanation here: https://kabanero.io/guides/microprofile-eclipse-codewind/#configuring-your-environment-to-use-a-kabanero-collection-hub

If Champ has customized a stack or set of s

[2020-02-13 19:37] jantley-ibm opened #289 "document known issue: Pre 0.5 releases incompatible with Appsody CLI 0.55 / 0.66"
See https://github.com/kabanero-io/kabanero-foundation/issues/156

[2020-02-13 19:44] j-c-berger commented on #267
@SueChaplain,  the guide you linked to (Developing with Kabanero Collections), you only want to include the section, `configuring your environment to use a Kabanero collection hub` into my guide, correct? Two thoughts I have:
1. is it necessary?
2. where to put it in the guide's organization?

I ask if it's necessary, because right now, the guide's objective is to develop a simple microservice wit

[2020-02-13 21:00] jantley-ibm commented on #285
@davco01a thanks for the explanation and updates.  How does a stack become 'obsolete' ?

[2020-02-14 03:36] karimbzu opened #291 "Could not find the required trigger template or trigger bindings in namespace: tekton-pipelines."
I have installed kabanero 0.5 successfully on OCP 4.2.14, but i am unable to create webhook because triggerbindings did not install in the "tekton-pipeline" namespace.
[root@bastion 0.5]# oc project
Using project "tekton-pipelines" on server "https://api.ocp.tmrnd.com.XX.6443/
[root@bastion 0.5]# oc get triggerbindings.tekton.dev
NAME                   AGE
monitor-task-binding   17m
I am using thi

[2020-02-14 07:32] karimbzu commented on #291
Resolved the issue:
Uninstall everything,
Reinstall from scratch

[2020-02-14 11:54] SueChaplain commented on #267
@j-c-berger - don't worry, we'll get the other guide updated for this release and discuss whether there could be any changes to your guide in the future. I think it is necessary to explain to a user how they use Codewind "in the context of Kabanero". Not discussing the `index.json` file anywhere would, I think, be an omission.

[2020-02-14 14:10] j-c-berger commented on #267
Okay, so it's the green light to include the `index.json` instructions. But, we'll save that update for a later release, so not for 0.6.0? Thanks!

[2020-02-17 14:28] davco01a commented on #285
A stack becomes Obsolete if the `solution architect` removes a stack from the curated collection on Git hub

It's obsolete because it's still a stack in Kabanero, but no longer in the curated collection.  A SYNC will delete the obsolete stack from Kabanero.

[2020-02-17 15:07] chirp1 commented on #277
Slack from 2/6/20: From Steve Kinder, guide actually doesn’t work, Brian Sullivan  Brian Sullivan attempting to work on guide.

 Checked with Checked with Jeff who indicated to let it be until it is revised.

[2020-02-17 15:21] mingcyu commented on #180
Closing as a duplicate

[2020-02-17 15:21] #180 closed

[2020-02-17 16:10] jantley-ibm commented on #285
These changes are included in https://github.com/kabanero-io/docs/pull/280

[2020-02-17 17:19] jantley-ibm commented on #271
fixed in #286

[2020-02-17 17:54] jantley-ibm commented on #289
@kaczyns @kilnerm @kvijai82 Could you clarify which Kabanero releases this should this be doc'd in?  It seems to make most sense to put the update in the documentation in the releases prior to 0.5.

[2020-02-17 20:55] aadeshpa opened #294 "Kabanero `Connecting Kabanero to GitHub with webhooks` section needs to remove hostpath PV example"
Since the pipelines cannot run now with hostpath pv, the example of using static pv with hostpath option is to be removed from the Kabanero documentation.  This is in the Configuration section.

Pasting the screenshot

<img width="1179" alt="Screen Shot 2020-02-17 at 3 56 04 PM" src="https://user-images.githubusercontent.com/53223993/74685833-b7960900-519d-11ea-8406-1007a21cbefd.png">

<img width=

[2020-02-18 08:29] SueChaplain commented on #274
Received confirmation from Steve G that this topic is no longer required for 0.6.0. As we are not aware of any other environment variables that are used in other components, this topic will be removed.

[2020-02-18 12:37] SueChaplain commented on #267
I took a look at the other guide and the changes are too extensive. There are a lot of screenshots that will need recapturing and at the moment I cannot get Codewind working in my Eclipse IDE. Instead I have reviewed https://github.com/kabanero-io/guide-codewind-getting-started/pull/7 and suggested how the updates could be applied for the additional content about index.json for release 0.6.0.  @j-

[2020-02-18 14:18] j-c-berger commented on #267
@SueChaplain, thank you for getting back to me and for doing a review of the guide. I made my first read through of your comments and they look on-point! I'll for sure reach out if I have questions.

I have an all day event this afternoon (my time), but I shall start to apply your feedback this morning and ought to have the guide done tomorrow afternoon (U.S time), so it might not be completed by

[2020-02-18 15:21] #272 closed

[2020-02-18 15:41] johnmcollier commented on #264
PR up at https://github.com/kabanero-io/docs/pull/296

[2020-02-18 17:45] #274 closed

[2020-02-18 19:34] jantley-ibm commented on #285
#280 is merged, closing

[2020-02-18 19:34] #285 closed

[2020-02-18 20:04] alohr51 opened #297 "update what's new for 0.6.0"
Update the what's new for 0.6.0, either accompany it with a blog post (link to it in what's new) or just paste whats new in the doc. The blog post is optional

https://github.com/kabanero-io/docs/blob/master/ref/general/whats-new.md

[2020-02-18 21:26] marikaj123 commented on #277
According to the id team, @brianxjx  is making technical changes and is expecting to be done this week.

[2020-02-18 21:28] marikaj123 commented on #266
The work is on track to complete this week.

[2020-02-18 21:28] marikaj123 commented on #267
According to the id team, the work is on track to compete by this week.

[2020-02-19 14:41] kaczyns commented on #291
Hi @karimbzu - in order to diagnose the original problem we would need to see the collection controller pod logs, to determine why the trigger bindings and trigger templates did not get installed into the tekton-pipelines namespace.  Do you still have these logs available?  Or is there a way that you can re-create the issue?

The install script is intended to be a sample that can be changed as req

[2020-02-19 15:04] kaczyns commented on #289
@jantley-ibm I think that was the intention, so Kabanero 0.1.x, 0.2.x, 0.3.x and 0.4.x.

[2020-02-19 18:26] jantley-ibm commented on #266
all kabanero docs have been updated, reviewed, approved and merged.  closing

[2020-02-19 18:26] #266 closed

[2020-02-19 18:34] jantley-ibm commented on #271
closing as fixed

[2020-02-19 18:34] #271 closed

[2020-02-19 18:42] jantley-ibm commented on #233
closing as completed

[2020-02-19 18:42] #233 closed

[2020-02-20 17:31] alohr51 commented on #297
Kabanero Console lists new stuff in the release. Right now it would be the [0.6.0-rc.1 release](https://github.com/kabanero-io/kabanero-landing/releases/tag/0.6.0-rc.1)

[2020-02-20 18:30] #294 closed

[2020-02-21 00:36] jantley-ibm commented on #264
PR merged, closing as completed

[2020-02-21 00:36] #264 closed

[2020-02-21 17:19] tseelbach opened #302 "github-authorization references collections"
https://ibm-cp-applications.apps.roque.os.fyre.ibm.com/docs/ref/general/configuration/github-authorization.html

says "hosting the collections"

[2020-02-21 19:38] jantley-ibm commented on #302
closing as fixed
PR https://github.com/kabanero-io/docs/pull/304

[2020-02-21 19:38] #302 closed

[2020-02-21 19:39] jantley-ibm opened #305 "formatting and obsolete messages problems in cli page"
conveyed via DM

[2020-02-21 20:37] #305 closed

[2020-02-21 21:42] jantley-ibm commented on #267
closing as completed.

[2020-02-21 21:42] #267 closed

[2020-02-21 21:44] jantley-ibm commented on #277
closing as completed
PR: https://github.com/kabanero-io/guide-jenkins-integration-with-kabanero/pull/23

[2020-02-21 21:44] #277 closed

[2020-02-24 15:41] SueChaplain opened #307 "Guide for developing microservice apps with the OpenLiberty application stack"
This requires a new guide so that we have a complete set across the stacks.

[2020-02-24 15:43] SueChaplain commented on #307
@scottkurz - if we can use the same example code as we have for [Eclipse MicroProfile](https://kabanero.io/guides/collection-microprofile/) this probably requires no input from you. If it doesn't, or you'd like to provide a different example, please let us know.

[2020-02-24 15:49] SueChaplain opened #308 "Guide for Champ: How to create and configure an application stack hub"
Based on the new tools provided at [Appsody](https://github.com/appsody/repo-tools), explain how Champ would create his own stack hub, similar to the [Default Kabanero stack hub]( https://github.com/kabanero-io/kabanero-stack-hub).

This guide would complement the "working with stacks" guide and they would cross-reference one another.

[2020-02-24 15:50] SueChaplain commented on #308
Hooked us all in, so we know where this work is contained.

[2020-02-24 18:06] tam512 opened #309 "Document the workaround for https://github.com/openshift/console/issues/4444"
For Kabanero 0.6.0 in OCP 4.3, users need to use command line (_`oc edit kabanero -n kabanero -o yaml`_) to update the the Kabanero CR instance. The OCP 4.3 GUI is still using the older `apiVersion: kabanero.io/v1alpha1` , so any update to Kabanero CR instance using **GUI** will be saved in the older format of collections and Che instead of stacks and codeReadyWorkspace

[2020-02-24 19:24] Rwalls1 commented on #166
The following drafts are available here for documenting the kAppNav logging/trace actions:
https://github.com/kappnav/README/blob/master/liberty-action-view-metrics.md
https://github.com/kappnav/README/blob/master/liberty-action-view-kibana-logs.md

[2020-02-25 19:16] #297 closed

[2020-02-25 20:41] #286 closed

[2020-02-26 16:49] jantley-ibm commented on #289
PRs #301 , #312, #314 merged, closing

[2020-02-26 16:49] #289 closed

[2020-02-26 19:24] marikaj123 opened #315 "update what's new for 0.7.0"
Update the what's new for 0.7.0, either accompany it with a blog post (link to it in what's new) or just paste what's new in the doc. The blog post is optional

[2020-02-27 09:20] SueChaplain commented on #118
Title changed to reflect the guide we think this needs to become: **Guide: How to onboard your developers faster with Code Ready Workspaces**

[2020-02-27 12:05] scottkurz commented on #307
@awisniew90

[2020-02-27 17:38] tam512 opened #316 "Document the limitation of unable to launch Tekton Dashboard from Codewind in CodeReadyWorkspaces"
Tekton dashboard can't be launched from Codewind in CodeReadyWorkspaces.  Please see defect https://github.com/kabanero-io/kabanero-operator/issues/536 for more detail.  The fix will be in the later release of Kabanero

[2020-02-27 20:31] awisniew90 commented on #307
I don't see a problem with using the same example. The Open Liberty stack should function same way. One thing to note is that the file structure will be a bit different with a few more classes and config files. Nothing within the guide should have to change though.

[2020-03-03 14:23] jantley-ibm opened #318 "convert docs to markdown"

[2020-03-03 14:25] jantley-ibm opened #319 "convert to markdown: troubleshooting"
troubleshooting.adoc

[2020-03-03 14:57] jantley-ibm opened #321 "convert to markdown: cli"
kabanero-cli.adoc

[2020-03-03 14:58] jantley-ibm opened #322 "convert to markdown: app-deploy-namespace"
app-deploy-namespace.adoc

[2020-03-03 14:59] jantley-ibm opened #323 "convert to markdown: console-oauth"
console-oauth.adoc

[2020-03-03 14:59] jantley-ibm opened #324 "convert to markdown: github-authorization"
github-authorization.adoc

[2020-03-03 15:00] jantley-ibm opened #325 "convert to markdown: kabanero-cr-config"
kabanero-cr-config.adoc

[2020-03-03 15:00] jantley-ibm opened #326 "convert to markdown: rhsso"
rhsso.adoc

[2020-03-03 15:02] jantley-ibm opened #327 "convert to markdown: stack-cr-config"
stack-cr-config.adoc

[2020-03-03 15:03] jantley-ibm opened #328 "convert to markdown: stack-install"
stack-install.adoc

[2020-03-03 15:03] jantley-ibm opened #329 "convert to markdown: tekton-webhooks"
tekton-webhooks.adoc

[2020-03-03 15:18] jantley-ibm opened #330 "convert to markdown: installing-codeready etc."
installing-codeready-and-codewind.adoc

[2020-03-03 15:18] jantley-ibm opened #331 "convert to markdown: installing-dev-tools"
installing-dev-tools.adoc

[2020-03-03 15:27] alohr51 commented on #319
@jantley-ibm is converting the docs to markdown absolutely necessary? I do think the asciidoc looks better and is easier to format nicely.

[2020-03-03 15:54] davehobbs commented on #307
@awisniew90 Can you take a quick look at PR kabanero-io/draft-guide-collection-java-openliberty#1 for the Open Liberty guide. It is basically the same as the Microprofile guide with some small changes.

[2020-03-03 18:13] awisniew90 commented on #307
@davehobbs  - done!

[2020-03-03 21:27] kvijai82 opened #333 "Guide on how to curate pipelines"
Will provide content here shortly.

[2020-03-03 23:32] bschrammIBM opened #334 "Architecture and Development Workflows requires updating to be current with 0.6 release"
https://kabanero.io/docs/ref/general/overview/architecture-overview.html

The document requires updating.
It should not be available with version 0.6 in its current form.

Two actions are needed:
-Remove this file from the 0.6 version until updated
-Update for new architecture in .6 and then add it back

[2020-03-03 23:39] jantley-ibm opened #335 "review feedback from pipelines team"

[2020-03-04 01:08] nastacio commented on #334
@bschrammIBM

Which updating is required? I read the [release notes](https://kabanero.io/blog/2020/02/27/WhatsNew060.html) and the only critical change I can see was implemented by @jantley-ibm a few days ago, primarily around the change from kabanero collections to appsody stacks.

[2020-03-04 12:21] SueChaplain commented on #307
@alohr51 - this guide is now ready to publish.

[2020-03-04 12:27] SueChaplain commented on #330
See https://github.com/kabanero-io/docs/pull/317

[2020-03-04 20:21] jantley-ibm commented on #319
completed

[2020-03-04 20:21] #319 closed

[2020-03-04 21:40] kvijai82 commented on #333
@jantley-ibm Have a draft written up here: https://github.com/kabanero-io/kabanero-pipelines/blob/doc-curate/docs/Curation.md

Please review and let me know if you need more info.  Thanks!

[2020-03-04 21:40] marikaj123 opened #339 "update what's new for 0.9.0"
Update the what's new for 0.9.0, either accompany it with a blog post (link to it in what's new) or just paste whats new in the doc. The blog post is optional

[2020-03-04 21:42] marikaj123 opened #340 "update what's new for 0.8.0"
**For the person writing the what's new**
   * Update the what's new for 0.8.0, either accompany it with a blog post (link to it in what's new) or just paste whats new in the doc. The blog post is optional. Use the release links in the comments below to help write what's new.

**For everyone else**
   * Make sure your GitHub release description has bullets/text of what's new for your specific comp

[2020-03-05 14:25] #335 closed

[2020-03-05 15:00] SueChaplain commented on #323
Actually being handled by @doveye

[2020-03-05 17:08] jantley-ibm commented on #333
@chirp1 could you review this new guide, keeping an eye to the terminology guidance in #267 ?

[2020-03-05 17:29] SueChaplain opened #342 "YAML markup for doc-number: in markdown not working"
Function to order page numbers in Docs, using `page-doc-number:` in AsciiDoc, does not work for equivalent function `doc-number:` in markdown.

Possible starting point  https://github.com/kabanero-io/kabanero-website/blob/master/src/main/content/_layouts/doc.html#L104

[2020-03-06 18:55] marikaj123 commented on #309
@jantley-ibm - Can the issue be closed?

[2020-03-06 20:54] jantley-ibm commented on #309
Yes, issue is mentioned in both troubleshooting and kabanero-cr-config.html, closing

[2020-03-06 20:54] #309 closed

[2020-03-06 23:37] jantley-ibm commented on #318
blocked by https://github.com/kabanero-io/docs/issues/342

[2020-03-09 20:04] jantley-ibm commented on #333
@t-koman could you review this guide?

[2020-03-10 02:54] t-koman commented on #333
@jantley-ibm Yes I can review it......   Ming also assigned me  https://github.ibm.com/IBMCloudPak4Apps/icpa-docs-kc/issues/327

[2020-03-10 02:57] t-koman commented on #333
@jantley-ibm Jeff, is the process to create a branch, make edits, then share those edits with the author, who will perform the pull request?   I do not want to integrate any of my suggested changes unless the author agrees......  Is this right way to process the reviews ?   thanks

[2020-03-10 03:10] jantley-ibm commented on #333
@t-koman create a branch, make your changes, commit, push, create a PR, assign the author as a reviewer of the PR.  Author reviews, you can make edits and push to the same PR, author approves and merges when all done.

[2020-03-10 03:18] t-koman commented on #333
@jantley-ibm Thanks for the instrutions.... it looks like after I create the PR, assign the author as reviewer of the PR....We can go back and forth with the PR..... until the author approves it, then the author does the merge .... correct ?

[2020-03-10 17:26] Rwalls1 commented on #166
The documentation for this issue has been completed here: https://github.com/kappnav/README/blob/master/liberty-action-view-metrics.md
https://github.com/kappnav/README/blob/master/liberty-action-view-kibana-logs.md
I will close the issue.

[2020-03-10 17:26] #166 closed

[2020-03-16 19:30] bschrammIBM commented on #333
@kvijai82 @t-koman Please confirm that all pipeline instructions are correct for the procedure for creating the PV. We previously documented it as optional, is this still correct?

[2020-03-16 19:32] bschrammIBM commented on #333
epic is https://github.com/kabanero-io/kabanero-pipelines/issues/178

[2020-03-16 19:48] bschrammIBM opened #350 "Document the support of the OL operator in kabanero"
Provide an introduction to the OL operator and link to the guide.

[2020-03-16 20:02] alohr51 opened #351 "Create a security overview of the Console, CLI, and stack hubs"
1. Draw up a diagram to show how the console and cli communicate. The path we want to show in the diagram is as follows
   * User -> SSO -> Console -> CLI -> configured stack hubs
      * User - start the diagram with en entry point (The user's browser)
      * SSO - Shows how SSO is connected to the Console via GitHub and the SSO flow
      * Console - Shows how the console uses the SSO token to

[2020-03-16 20:02] alohr51 commented on #351
I'll take the first stab at the diagram

[2020-03-17 14:39] jantley-ibm commented on #333
completed, closing

[2020-03-17 14:39] #333 closed

[2020-03-17 14:45] jantley-ibm opened #352 "Document changes: Support Github protocol on Kabanero CRs"

[2020-03-17 20:03] jantley-ibm opened #353 "backport terminology changes to guides"

[2020-03-18 01:56] tseelbach opened #354 "installing-kabanero-foundation.html manual install question"
in docs/ref/general/installation/installing-kabanero-foundation.adoc
under manual install,  it says"
Install the pipelines operator using the instructions to add an operator to your cluster. Select the community-operators catalog and the dev-preview channel.
In ocp 4.3 where do i find the "community-operators catalog and the dev-preview channel"?

[2020-03-18 18:00] alohr51 commented on #351
Here is the first draft of trying to clarify what happens when a user views the Stacks page on the Console. This shows what the console & cli do to display the stacks on a user's browser.

![console-cli-stacks-draft-diagram](https://user-images.githubusercontent.com/3623618/76991735-715cd280-6920-11ea-957a-cb699b1b1fc5.PNG)

@davco01a @tseelbach @stephenkinder any feedback would be cool. Once we g

[2020-03-19 02:38] jantley-ibm opened #358 "backport terminology changes to docs"

[2020-03-19 20:17] jantley-ibm commented on #352
Doc work done in https://github.com/kabanero-io/docs/pull/341
Closing

[2020-03-19 20:17] #352 closed

[2020-03-20 13:57] davco01a commented on #351
I have a number of comments and questions:

1. The CLI service also reads from a stack hub index on Git ( whatever URL is specified in the Kabanero CR)
2. This is a nit, but after initial authentication, the JWT is flowed back on each functional endpoint call to the CLI service
3. What is really happening throughout steps 6-9?  What is the mechanism going on here,?Especially step 7: verify JWT? Re

[2020-03-23 14:09] mingcyu commented on #315
Completed

[2020-03-23 14:09] #315 closed

[2020-03-23 14:09] mingcyu commented on #307
Completed

[2020-03-23 14:09] #307 closed

[2020-03-23 14:14] mingcyu commented on #350
Completed

[2020-03-23 14:14] #350 closed

[2020-03-23 15:25] j-c-berger opened #362 "Broken link when referencing Codewind doc"
On the [Installing Codewind in CodeReady Workspaces](https://kabanero.io/docs/ref/general/installation/installing-codeready-and-codewind.html) under the ```Installing Codewind``` section, there's the link, ```Codewind on Che documentation``` This link ought to link to the page, ```che-installinfo.html```

Right now, it currently does not, hence, the broken link.

[2020-03-23 16:04] #330 closed

[2020-03-23 16:04] #331 closed

[2020-03-23 16:09] SueChaplain commented on #308
See https://github.com/kabanero-io/draft-guide-creating-a-stack-hub/pull/1

When the review is complete, this guide needs to be moved into the new guides repo.

[2020-03-23 17:00] sishida commented on #362
Hi, team, Today I found this 404 page on the Appsody website: https://kabanero.io/guides/guide-codewind/. I got here from an internet search result.

@alohr51 Andrew, Jake suspects that this is the old Codewind guide (before it was split into two). Could you please remove it? Thank you!

[2020-03-23 20:33] jantley-ibm commented on #353
see #358 for more

[2020-03-24 11:17] #358 closed

[2020-03-24 14:27] SueChaplain commented on #342
@alohr51 @marikaj123 - we'd like this in the 0.8.0 release please. I'll start by adding the release marker - please let us know if this cannot be achieved.

[2020-03-24 14:59] SueChaplain commented on #308
Complete and published

[2020-03-24 14:59] #308 closed

[2020-03-24 18:55] alohr51 commented on #351
@davco01a after our chat here is version 2

![console-cli-stacks-draft-diagram-V2](https://user-images.githubusercontent.com/3623618/77465713-6d78f680-6ddf-11ea-98bd-6c6b18d584af.PNG)

[2020-03-26 00:22] jantley-ibm commented on #353
complete, closing

[2020-03-26 00:22] #353 closed

[2020-03-30 14:04] #362 closed

[2020-03-30 14:17] mingcyu commented on #228
Closing issue as done, may get more feedback and adjust as needed

[2020-03-30 14:17] #228 closed

[2020-03-30 14:23] mingcyu commented on #224
Schedule meeting with @nastacio to discuss

[2020-03-30 18:30] tseelbach opened #368 "Update CLI to display stacks' container digest version"

[2020-03-30 18:34] tseelbach opened #369 "Support "governance policy" control in pipelines"
### Specify what you want documented (required):
Complete the following information:

#### To create a topic:
- Specify a link to the section in the navigation where the topic should go:
- Specify a first draft of the topic that you want added:

#### To update existing topics:
- Specify links to the topics that are affected:
- Include a copy of the current text and the exact text to which it will

[2020-03-30 18:41] tseelbach opened #370 "Container Registry Digest/Tag Governance - Overview and kabanero CR config"
### Specify what you want documented (required):
Complete the following information:

#### To create a topic:
- Specify a link to the section in the navigation where the topic should go:
- Specify a first draft of the topic that you want added:

#### To update existing topics:
- Specify links to the topics that are affected:
- Include a copy of the current text and the exact text to which it will

[2020-03-30 18:43] tseelbach commented on #370
Tim, Jeff, I'm not sure that linking the 366 PR is correct, but that is the content for Digest/governance overview, and Kabanero CR configuration.

[2020-03-30 18:47] tseelbach opened #371 "Handle mismatching container digests in Console UI"
### What version of Kabanero does this apply to?
- Latest __

### Specify what you want documented (required):
Complete the following information:

#### To create a topic:
- Specify a link to the section in the navigation where the topic should go:
- Specify a first draft of the topic that you want added:

#### To update existing topics:
- Specify links to the topics that are affected:
- Include a

[2020-03-30 18:49] tseelbach commented on #371
blocked by https://github.com/kabanero-io/kabanero-landing/issues/179

[2020-03-30 18:56] tseelbach opened #372 "Improve pipeline performance"
### What version of Kabanero does this apply to?
- Latest __

### Specify what you want documented (required):
Complete the following information:

#### To create a topic:
- Specify a link to the section in the navigation where the topic should go:
- Specify a first draft of the topic that you want added:

#### To update existing topics:
- Specify links to the topics that are affected:
- Include a

[2020-04-01 20:41] kvijai82 opened #373 "Add doc for TLS verification in pipelines"
### Add label "documentation-id"
- Add the `documentation-id` bug label to this issue.

### What version of Kabanero does this apply to?
- Latest (0.8.0)

#### To update existing topics:
Will need to update working with pipelines guide.  Will provide content shortly.

[2020-04-06 14:07] mingcyu commented on #316
@j-c-berger Can you take a look at this one as it relates to Codewind?

[2020-04-06 20:51] aadeshpa commented on #373
## TLS verification setup for Image registry used in pipelines

By default all the pipelines are TLS verify enabled and you would need to setup the pipelines connection to the image registries, that the pipelines use for pushing and pulling the container images. Below are the scenarios of image registries that can be used and the setup steps required in each case.

As per this [Image configuration

[2020-04-07 17:52] t-koman commented on #373
@aadeshpa @kvijai82 Ashish and Vajai - I am picking this issue up as part of the work of the ID team and would like to know what you have in mind for **Adding doc for TLS verification in pipelines** ??   I see that you, Ashish, have added some substantial content in your last post.   How should I proceed so that the work that I will do on this issue will meet your requirements...... thanks

[2020-04-09 08:19] SueChaplain commented on #231
Working session with Jeff. New category proposal agreed. Implementation in https://github.com/kabanero-io/guides/issues/28.

Closing this issue.

[2020-04-09 08:19] #231 closed

[2020-04-09 16:12] j-c-berger commented on #316
The Codewind ID team will investigate at our next scrum, so I'll have an update at our upcoming Kabanero Docs planning meeting.

[2020-04-13 14:16] kvijai82 commented on #373
## TLS verification for image registry access in pipelines

The pipelines leverages the configuration creation of the cluster resource, `image.config.openshift.io/cluster`(https://docs.openshift.com/container-platform/4.2/openshift_images/image-configuration.html#images-configuration-file_image-configuration), when accessing image registries to pull and push images.  of the Below are the scenarios

[2020-04-13 14:18] kvijai82 commented on #373
@t-koman @jantley-ibm can we add the above to the working with pipelines guide?  A separate request, and I can open a separate issue for this if you agree, can we make this pipelines guide into a pipelines doc?  Would like to start referring to sections of this doc from other smaller guides going forward.

[2020-04-13 15:33] jantley-ibm commented on #373
@kvijai82 Yes, to both questions. Create the new issue with a target of v0.9.0.

@t-koman please add the provided text to the kabanero "working with pipelines" guide in the /guides repo, and also do a regular ID review. Assign both me and Vijai as reviewers on the PR. Needed by end of day Wednesday of this week. Thanks!

[2020-04-13 17:02] #370 closed

[2020-04-15 13:34] jantley-ibm opened #376 "Add supporting information for digest governance in 0.8"
### Add label "documentation-id"
- Add the `documentation-id` bug label to this issue.

### What version of Kabanero does this apply to?
- Latest __
  or
- Specify versions: _____

### Specify what you want documented (required):
Complete the following information:

#### To create a topic:
- Specify a link to the section in the navigation where the topic should go:
- Specify a first draft of the t

[2020-04-16 11:11] kvijai82 opened #378 "Make the working with pipelines guide into a doc"
### Add label "documentation-id"
- Add the `documentation-id` bug label to this issue.

### What version of Kabanero does this apply to?
- Latest __
  or
- Specify versions:All

### Specify what you want documented (required):
At this point I think the `Working with pipelines` guide is more of a doc than a guide.  Will bbe good to transition that to a doc with a goal of writing more focussed pipel